@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    /* text-transform: capitalize; */
    /* transition: all 0.2s linear; */
}

.container2_bid_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
    width: 60%;
    max-width: 100%;
    text-align: center;
    padding: 5px;
}

.oplata_button_div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.PayPal_big_div {
    display: block;
    width: 100%;
    height: 335px;
    overflow: hidden;
}

.paypal_modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.paypal_big_div {
    transition: 0.4s;
    position: fixed;
    top: -100%;
    background-color: #2e2c2c;
    color: #fff;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    padding-right: 20px;
}

.container2 button {
    display: block;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    color: #44bef1;
    border-radius: 4px;
    font-weight: 900;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    border: 1px solid #44bef1;
}

.container2 button:active {
    background-color: #44bef1;
    transform: scale(0.98);
    color: #fff !important;
}


.PayPal_big_div p {
    color: black;
    font-weight: 900;
    font-size: 20px;
}
#PayPal_input{
    width: 100%;
    height: 45px;
    padding-left: 10px;
    border: 1px solid #44bef1;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
}
#PayPal_input:focus{
    box-shadow: 0px 0px 20px #44bef1;
    border: none;
}

#Stripe_input {
    width: 95%;
    height: 45px;
    padding-left: 10px;
    border: 1px solid #44bef1;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

#Stripe_input:focus{
    box-shadow: 0px 0px 20px #44bef1;
    border: none;
}

.StripeElement {
    width: 100%;
    padding: 11px 15px 11px 0;
}

.FormGroup {
    padding-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #44bef1;
    height: 45px;
    border-radius: 5px;
}
.container2 form {
    width: 100%;
    padding: 20px;
    background: #fff;
}

.container2 form .row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.container2 form .row .col {
    flex: 1 1 250px;
}

.col .title {
    font-size: 20px;
    color: #44bef1;
    padding-bottom: 5px;
}

.col .inputBox1 {
    margin: 15px 0;
}

.col .inputBox1 label {
    margin-bottom: 10px;
    display: block;
}

.col .inputBox1 input,
.col .inputBox1 select {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
}

.col .inputBox1 input:focus,
.col .inputBox1 select:focus {
    border: 1px solid #000;
}

.col .flex1 {
    display: flex;
    gap: 15px;

}

.col .flex1 .inputBox1 {
    flex: 1 1;
    margin-top: 5px;
}

.col .inputBox1 img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}

.container2 form .submit_btn {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #44bef1;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
    letter-spacing: 1px;
}

.container2 form .submit_btn:hover {
    background: #44bef1;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    display: none;
}

.inputBox1 img {
    cursor: pointer;
}
.paypal-button .paypal-button-color-gold{
    background: #6ad2ff !important;
}

@media (max-width:700px) {
    .container2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .PayPal_big_div p {
        font-size: 18px;
    }
    .PayPal_big_div{
    height: 280px;
    }

    .container2 button{
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .PayPal_big_div input{
        height: 35px;
    }
}