.azo_bolgan_katta_div{
    margin-top: 20px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.azo_blogan_katta_img{
    border-radius: 50%;
    width: 130px;
}
.azo_blogan_katta_img img{
    border-radius: 50%;
    width: 100px;
}
.azo_bolgan_katta_div_text{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9DA7BB;
}
.azo_bolgan_katta_div_text_block h1{
    font-size: 30px;
}
.azo_bolgan_katta_div_text button{
background-color: #9DA7BB;
color: white;
border-radius: 2px;
width: 150px;
height: 35px;
border: 0px;
}
.azo_bolgan_katta{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto;
    margin-left: 10%;
}

@media (max-width:860px) {
    .azo_bolgan_katta_div_text{
        width: 90%;
    }
    .azo_bolgan_katta_div{
    width: 90%;
    }
}
@media (max-width:700px) {
    .azo_bolgan_katta_div_text_block h1{
        font-size: 3.5vw;
    }
    .azo_bolgan_katta_div_text_block p{
        font-size: 2.5vw;
    }
    .azo_blogan_katta_img{
        width: 15%;
    }
    .azo_blogan_katta_img img{
        width: 100%;
    }
    .azo_bolgan_katta_div{
    gap: 10px;
    }
    .azo_bolgan_katta_div_text button{
        width: 30%;
        font-size: 2vw;
        height: auto;
        padding: 3px;
        margin-top: -10px;
    }
    .azo_bolgan_katta_div_text_block p{
    margin-bottom: 5px;
    }
    .azo_bolgan_katta_div_text_block h1{
        margin-bottom: 1px;
    }
}