.kurs_cards {
    width: 81%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
    margin-top: 5%;
    position: relative;
    /* display: none; */
}

.foto {
    width: 100%;

}
/* .kurs_card:hover .kurs_paddaing_auto h4{
    color: #44bef1;
}
.kurs_card:hover .kurs_paddaing_auto h5{
    color: #44bef1;
}
.kurs_card:hover .kurs_paddaing_auto p{
    color: #44bef1;
} */

.kurs_card{
   overflow: hidden;
}

.kurs_card img {
    width: 100%;
    height: 240px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.No_img {
    width: 100%;
    display: flex;
    height: 270px;
    justify-content: center;
    background-color: #dbdbdb;
    opacity: 0.6;
}

.No_img:hover {
    opacity: 1;
}

.No_img h1 {
    color: black;
    font-size: 20px;
    margin: auto;
    font-weight: 700;
}

.No_img1 {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    background-color: #dbdbdb;
    opacity: 0.6;
}

.No_img1:hover {
    opacity: 1;
}

.No_img1 h1 {
    color: black;
    font-size: 15px;
    margin: auto;
    font-weight: 700;
}

.kurs_card {
    position: relative;
    width: 350px;
    height: auto;
    border-radius: 5px;
    background: var(--white, #FFF);
    /* blue shadow 2 */
    box-shadow: 0px 4px 20px 0px rgba(1, 102, 144, 0.10);
    transition: all 0.3s ;
}

.kurs_card:hover {
    cursor: pointer;
    box-shadow: 0px 12px 45px 0px rgba(83, 109, 253, 0.25);
}

.kurs_card .btn_das {
    position: absolute;
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
    height: 26px;
    top: 24px;
    left: 24px;
    border-radius: 2px;
    border: none;
    color: white;
    background: #44bef1;
}

@media (max-width:369px) {}

.kurs_card h4 {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.star_df{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.star_card {
    margin-top: -3px !important;
    display: inline-flex;
    justify-content: start !important;
    gap: 1px !important;
    flex-direction: row-reverse;
}

.star_card .star_i {
    cursor: pointer;
    font-size: 18px;
    color: #dcdcdc ;
}

/* .star_i:hover,
.star_i:hover ~ .star_i{
    color: #989898 ;
}

.star_card[data-total-value="1"] .star_i:nth-child(n + 5),
.star_card[data-total-value="2"] .star_i:nth-child(n + 4),
.star_card[data-total-value="3"] .star_i:nth-child(n + 3),
.star_card[data-total-value="4"] .star_i:nth-child(n + 2),
.star_card[data-total-value="5"] .star_i:nth-child(n + 1){
    color: orange !important;
} */


.star_card p {
    color: black;
    margin-top: 1px;
    font-size: 14px;
    font-weight: 600;
}


.star_card p span {
    font-weight: 400;
    color: var(--seriy, #9DA7BB);
}

.hajm {
    display: flex;
    gap: 32px;
    margin-bottom: 0px;
}

.hajm p {
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 600;
    color: var(--seriy, #9DA7BB);
}

.hajm h5 {
    color: black;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}

.button_circle {
    position: absolute;
    width: 42px;
    height: 42px;
    border: 1px solid #44bef1;
    border-radius: 50%;
    background: white;

    color: #44bef1;
    right: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: all 0.3s ease;
}

@media (max-width:700px) {
    .button_circle {
        position: absolute;
        width: 42px;
        height: 42px;
        border: 1px solid #44bef1;
        border-radius: 50%;
        background: white;
        top: 85%;
        color: #44bef1;
        right: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        transition: all 0.3s ease;
    }
}

.button_circle:hover {
    border: 1px solid #44bef1;
    background: #44bef1;
    color: white;
}

.kurs_card1 {
    width: 350px;
    height: 400px;
    border-radius: 4px;
    border: 3px dashed var(--seriy, #9DA7BB);
    cursor: pointer;
}

.kurs_card1 i {
    margin-top: 176px;
    font-size: 24px;
    color: #9DA7BB;
    display: flex;
    justify-content: center;
}

.kurs_card1 h4 {
    font-size: 18px;
    font-weight: 400;
    color: #9DA7BB;
    display: flex;
    justify-content: center;
}

/* @media (max-width:700px) {
    .win_men {
        display: none !important;
    }
   
}*/

@media (max-width:370px) {
    .kurs_card {
        width: 100%;
    }

    .kurs_card img {
        width: 100%;
    }

    .kurs_card h4 {
        width: 100%;
    }

    .kurs_card h5 {
        font-size: 13px;
    }

    .hajm p {
        font-size: 10px;
    }

    .kurs_card1 {
        width: 300px;
    }

    .button_circle {
        width: 40px;
        height: 40px;
        font-size: 17px;
        right: 20px;
        bottom: 25px;
    }

    .kurs_card .btn_das {
        padding-left: 10px;
        padding-right: 10px;
        height: 22px;
        font-size: 14px;
    }

    .star_card {
        margin-top: 20px;
    }
}

@media (max-width:330px) {
    .hajm {
        width: 90%;
    }

    .hajm h5 {
        font-size: 13px;
    }

    .button_circle {
        bottom: 25px;
    }
}

.kurs_paddaing_auto {
    padding: 10px 20px 20px 20px;
}

.dashed {
    width: 350px;
    min-height: 420px;
    height: auto;
    border: 2px dashed #9DA7BB;
    border-radius: 4px;
    cursor: pointer;
}

.dashed i {
    margin-top: 190px;
    display: flex;
    font-size: 40px;
    color: #9DA7BB;
    justify-content: center;

    transition: .3s ease-in-out;
}

.edit_card {
    display: none;
}
/* 
.dropdown{
    position: relative;
}

.dropdown_btn{
    position: relative;
    display: block;
    width: 100%;
    text-align: left;

    background-color: white;
    border: 1px solid #9DA7BB;
    border-radius: 3px;
    height: 30px;

    padding: auto;
    padding-left: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.dropdown_btn::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: rotate(50%);
    pointer-events: none;
}

.dropdown_btn:focus{
    outline: none;
    box-shadow: 0px 0px 0px 3px rgba(94, 98, 104, 0.16);
}

.dropdown_list{
    display: none;

    position: absolute;
    left: 0;
    top: 40px;

    margin: 0;
    padding: 0;
    list-style: none;

    background-color: white;
    box-shadow: 0px 4px 20px 0px rgba(1, 102, 144, 0.10);
    overflow: hidden;

    border-radius: 3px;
    width: 100%;

    z-index: 12312345678912345;
}
.myStyle{
    position: absolute;
    display: flex !important;
    flex-wrap: wrap;
    gap: 50px;
    padding: 17px 0px 18px 24px;
} 

.dropdown_list--visible{
    display: block;
}

.dropdown_list_item{
    margin: 0;
    padding: 0;
    border: 1px solid #9DA7BB;
    padding: auto;
    padding-left: 10px;
    width: 100%;
    height: 30px;
    cursor: pointer;
    border-bottom: 0px;
}

.dropdown_list_item:first-child{
    border-radius: 5px 5px 0 0;
}

.dropdown_list_item:last-child{
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid #9DA7BB;
}
.dropdown_list_item:hover{
    background: rgba(0, 0, 0, 0.075);
} */
.selectPost{
    padding-top: 2px !important;
    padding-left: 10px !important;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #9DA7BB !important;
}
.selectPost:focus{
    box-shadow: 0px 0px 0px 3px #44bdf15f;
}
.selectPost option{
    border-bottom: 1px solid #9DA7BB !important;
}

.select_opt{
    padding-top: 2px !important;
    padding-left: 10px !important;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #9DA7BB !important;
}
.select_opt:focus{
    box-shadow: 0px 0px 0px 3px #44bdf15f;
}
.select_opt option{
    border-bottom: 1px solid #9DA7BB !important;
}
