.m_comment_text p{
    width: 80%;
    font-size: 15px;
}
.m_comment_kotta{
    padding: 10px;
    
}
.m_otdel_bgc{
    background-color: #fff;
    width: 60%;
    padding: 20px;
}
.m_comment{
border-radius: 5px;
display: flex;
gap: 20px;
}
.m_comment_otvet p{
    color: #536DFD;
    display: flex;
    align-items: center;
    gap: 10px;
}
.m_comment_img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.m_comment_yozish p{
    color: #9DA7BB;
    position: absolute;
    left: 60px;
}
.m_comment_yozish textarea{
    padding-left: 30px;
    outline: none;
    border: none;
     border: 1px solid #9DA7BB;
    padding-top: 2px;
    width: 100%;
    height: 100px !important;
}
.m_comment_yozish{
padding: 20px;
display: flex;
gap: 10px;
border-radius: 5px;
width: 70%;
height: 110px;
margin-top: 30px;
}
.m_comment_button button{
    color: #fff;
    margin-top: 30px;
}
.m_comment_button{
    width: 68%;
    display: flex;
    justify-content: flex-end;
}
.m_otmen{
    background-color: #9DA7BB;
    height: 35px;
    width: 120px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    margin-right: 10px !important;
}
.m_otpravit{
    background-color: #536DFD;
    height: 35px;
    width: 120px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}
.m_comment_text h4{
    font-weight: 500;
}

@media (max-width:1000px) {
    .m_otdel_bgc{
        background-color: #fff;
        width: 100%;
        padding: 20px;
    }
    .m_comment_text p{
        width: 80%;
    }
    .m_comment_button{
        width: 80%;
        display: flex;
        justify-content: flex-end;
    }
    .m_comment_yozish{
        padding: 20px;
        display: flex;
        gap: 10px;
        border-radius: 5px;
        width: 80%;
        margin-top: 30px;
        }
}
@media (max-width:600px) {
    .m_comment_text p{
        width: 90%;
        font-size: 13px;
    }
    .m_comment_yozish{
        padding: 20px;
        display: flex;
        gap: 10px;
        border: 1px solid #9DA7BB50;
        border-radius: 5px;
        width: 100%;
        margin-top: 30px;
        }
        .m_comment_button{
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        .m_otmen{
            background-color: #9DA7BB;
            height: 30px;
            width: 100px;
            font-size: 11px;
            border-radius: 5px;
            border: none;
            margin-right: 10px !important;
        }
        .m_otpravit{
            background-color: #536DFD;
            height: 30px;
            width: 100px;
            font-size: 11px;
            border-radius: 5px;
            border: none;
        }
        .m_comment_yozish textarea{
            outline: none;
            border: none;
            border: 1px solid #9DA7BB;
            padding-top: 5px;
            font-size: 13px;
            width: 90%;
            height: 40px;
        }
        .m_comment_text h4{
            font-size: 16px;
            font-weight: 500 !important;
        }
}
@media (max-width:400px) {
    .m_comment_text p{
        width: 90%;
        font-size: 10px;
    }
    .m_comment_yozish{
        padding: 20px;
        display: flex;
        gap: 10px;
        border: 1px solid #9DA7BB50;
        border-radius: 5px;
        width: 100%;
        margin-top: 30px;
        }
        .m_comment_button{
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        .m_otmen{
            background-color: #9DA7BB;
            height: 30px;
            width: 100px;
            font-size: 11px;
            border-radius: 5px;
            border: none;
            margin-right: 10px !important;
        }
        .m_otpravit{
            background-color: #536DFD;
            height: 30px;
            width: 100px;
            font-size: 11px;
            border-radius: 5px;
            border: none;
        }
        .m_comment_yozish textarea{
            outline: none;
            border: none;
            padding-top: 5px;
            font-size: 13px;
            width: 90%;
            height: 40px;
        }
        .m_comment_text h4{
            font-size: 16px;
            font-weight: 500 !important;
        }
}