  .m_comment_text1505 {
    width: 300px;
    font-size: 15px;
}
.m_comment_kotta{
    padding: 10px;
}
.m_comment_text {
    width: 100%;
}
.m_otdel_bgc{
    background-color: #fff;
    width: 60%;
    padding: 20px;
}
#comment_file, #comment_file1{
    width: 25px;
    z-index: 1000;
    opacity: 0;
    margin-left: 5px;
}

.m_comment{
border-radius: 5px;
display: flex;
gap: 20px;
}

.for_scroll{
    min-height: 100px;
    overflow: hidden;
    overflow-y: scroll;
}
.m_comment_kotta ::-webkit-scrollbar {
    width: 1px;
    opacity: 0;
  }
.m_comment_otvet p{
    cursor:pointer;
    color: #44bef1;
    display: flex;
    align-items: center;
    gap: 5px;
    text-align: center;
}
.m_otvet_comment:active{
    color: #fff;
    background-color: #44bef1;
    border-radius: 5px;
    user-select: none;
}
.m_otvet_comment:active a{
    color: #fff;
}
.m_comment_delete{ 
    cursor:pointer;
    color: red !important;
    gap: 5px;
    text-align: center;
}
.m_otvet_comment a{
    color: #44bef1;
}
.m_comment_delete:active{
    background-color: #ff0000 !important;
    color: #fff !important;
    border-radius: 5px;
    user-select: none;
}
.m_comment_otvet{
    width: 150px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.m_comment_img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.m_comment_img1 img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.m_comment_yozish p{
    color: #9DA7BB;
    position: absolute;
    left: 60px;
}
.chat_text{
    outline: none;
        border: none;
}
.m_comment_yozish textarea{
    padding-left: 30px;
    outline: none;
    border: none;
    padding-top: 2px;
    width: 100%;
    height: 100px !important;
}
.m_comment_yozish{
padding: 20px;
display: flex;
gap: 10px;
border-radius: 5px;
width: 70%;
height: 110px;
margin-top: 30px;
border: 1px solid #9DA7BB50;
height: auto;
}
.m_comment_button button{
    color: #fff;
    margin-top: 30px;
}
.m_comment_button{
    width: 68%;
    display: flex;
    justify-content: flex-end;
}
.m_otmen{
    background-color: #9DA7BB;
    height: 35px;
    width: 120px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    margin-right: 10px !important;
}
.m_otpravit{
    background-color: #44bef1;
    height: 35px;
    width: 120px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}
.m_comment_text h4{
    /* font-weight: 500; */
    color: black;
    font-size: 20px;
}

.commetn_otvet_kaytarish{
    width: 70%;
    height: 60px;
    position: relative;
    top: 30px;
    border: 1px solid #9DA7BB50;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: none;
    display: none;
    gap: 10px;
    align-items: center;
    padding: 10px;
}
#closeModal{
    margin: auto;
    margin-right: 0px;
    color: #44bef1;
}

.comment_otvet_block h6{
    line-height: 10px;
    margin-top: 20px;
}
.comment_otvet_block p{
    font-size: 13px;
}
@media (max-width:1000px) {
    .m_otdel_bgc{
        background-color: #fff;
        width: 100%;
        padding: 20px;
    }
    .otevet_comment_otdel_oyna{
        display: none;
        background-color: #fff;
        width: 100% !important;
        padding: 20px;
    }
    .view_all_otdel_oyna{
        height: auto;
        min-height: 100px;
        width: 100% !important;
        display: none;
        background-color: #fff;
        padding: 20px;
    }
    .AiOutlineComment{
        position: relative;
        left: 20% !important;
        color: #44bef1;
        user-select: none;
    }
    .comment_view_all{
        right: 15px !important;
    }
    .m_comment_tex1{
        width: 60%;
    }
    .m_comment_button{
        width: 80%;
        display: flex;
        justify-content: flex-end;
    }
    .m_comment_yozish{
        padding: 20px;
        display: flex;
        gap: 10px;
        border-radius: 5px;
        width: 80%;
        margin-top: 30px;
        }
        .commetn_otvet_kaytarish{
            width: 80%;
        }
}
@media (max-width:600px) {
    .m_comment_text1505{
        width: 60%;
        font-size: 13px;
    }
    .m_comment_yozish{
        padding: 20px;
        display: flex;
        gap: 10px;
        border: 1px solid #9DA7BB50;
        border-radius: 5px;
        width: 100%;
        margin-top: 30px;
        }
        .commetn_otvet_kaytarish{
            width: 100%;
        }
        .m_comment_button{
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        .m_otmen{
            background-color: #9DA7BB;
            height: 30px;
            width: 100px;
            font-size: 11px;
            border-radius: 5px;
            border: none;
            margin-right: 10px !important;
        }
        .m_otpravit{
            background-color: #44bef1;
            height: 30px;
            width: 100px;
            font-size: 11px;
            border-radius: 5px;
            border: none;
        }
        .m_comment_yozish textarea{
            outline: none;
            border: none;
            padding-top: 5px;
            font-size: 13px;
            width: 90%;
            height: 40px;
        }
        .m_comment_text h4{
            font-size: 16px;
            font-weight: 500 !important;
        }
}
@media (max-width:400px) {
    .m_comment_text1505{
        width: 300px;
        font-size: 10px;
    }
    .m_comment_yozish{
        padding: 20px;
        display: flex;
        gap: 10px;
        border: 1px solid #9DA7BB50;
        border-radius: 5px;
        width: 100%;
        margin-top: 30px;
        }
        .m_comment_button{
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        .m_otmen{
            background-color: #9DA7BB;
            height: 30px;
            width: 100px;
            font-size: 11px;
            border-radius: 5px;
            border: none;
            margin-right: 10px !important;
        }
        .m_otpravit{
            background-color: #44bef1;
            height: 30px;
            width: 100px;
            font-size: 11px;
            border-radius: 5px;
            border: none;
        }
        .m_comment_yozish textarea{
            outline: none;
            border: none;
            padding-top: 5px;
            font-size: 13px;
            width: 90%;
            height: 40px;
        }
        .m_comment_text h4{
            font-size: 16px;
            font-weight: 500 !important;
        }
}

.for_answer_tag{
    border-radius: 5px;
    border: 1px solid #9DA7BB50;
    height: 75px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex ;
    gap: 20px;
}

.for_img_and_username img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.for_text_and_username p{
    font-size: 12px;
}

.comment_otevet_all{
    height: 100px;
    min-height: 10px;
    overflow: hidden;
    overflow-y: scroll;
}
.otevet_comment_otdel_oyna{
    
    display: none;
    background-color: #fff;
    width: 60%;
    padding: 20px;
}
.m_otvet_comment_back{
    color: #44bef1;
    cursor: pointer;
    position: relative;
    top: 0;
    left: 0;
    user-select: none;
}

.comment_otevet_all img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.df_div_comment_page{
    display: flex;
    gap: 20px;
}

.div_class_tugadi{
    display: block;
}

.m_comment_delete1{ 
    cursor:pointer;
    color: red !important;
    gap: 5px;
    text-align: center;
}
.m_comment_delete1:active{
    background-color: #ff0000 !important;
    color: #fff !important;
    border-radius: 5px;
    user-select: none;
}

.comment_view_all{
    position: absolute;
    color: #44bef1;
    text-decoration: underline;
    cursor: pointer;
    right: 0;
}
.view_all_otdel_oyna{
    height: auto;
    min-height: 100px;
    width: 60%;
    display: none;
    background-color: #fff;
    padding: 20px;
}
.img_person_veiw_all img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.flex_view_all{
    display: flex;
    gap: 20px;
}
.df_all_com{
    display: flex;align-items: center;
}
.AiOutlineComment{
    position: relative;
    left: 35%;
    color: #44bef1;
    user-select: none;
}
@media (max-width:1200px) {
    .m_otdel_bgc{
        margin-top: 30px;
    }
    .otevet_comment_otdel_oyna{
        margin-top: 30px;
    }
    .view_all_otdel_oyna{
     margin-top: 30px;
    }
}