* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container213 {
    display: flex;
    justify-content: center;
    width: 100%;
    /* flex-wrap: wrap; */
    margin-top: 10%;
    padding: 10px;
}
.left231 {
    width: 940px;
    /* flex-wrap: wrap; */
}
.right123 {
    flex-wrap: wrap;
    margin-left: 30px;
}
.right123 p  {
    margin-top: 20px;
    color: #4d4d4d;
    font-size: 17px;
}
.right123 h4 {
    font-weight: 500;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #333333;
    margin-top: 30px;
    line-height: 1;
    letter-spacing: 0px;
}
.inp input {
    width: 100%;
    border: none    ;
    background: #f4f7f9;
    outline: none;
    padding: 15px 20px;
    color: #4d4d4d;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
} 
.inp .pp {
    font-size: 16px;
    margin-top: 30px;
    color: #4d4d4d; 
}
.coment {
    padding-bottom: 200px !important;
    margin-bottom: 10px;
}
.btn button {
    width: 200px;
    height: 55px;
    border-color: transparent;
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    background: #6b3d0c;
    cursor: pointer;
    outline: none;
}
.asdfkja h1 {
    font-weight: 700;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 30px;
    line-height: 1.7;
    letter-spacing: 0px;
}
.right123 span {
    transition: 0.3s;
    cursor: pointer;
    font-size: 16px;
}

.right123 span:hover {
    color: #6b3d0c;
}
.asdfkja{
    overflow: hidden;
}
@media(max-width:900px){
    .container {
        display: block;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 10%;
        padding: 13px;
    }
    .btn button {
        width: 130px;
        height: 45px;
        border-color: transparent;
        border-radius: 5px;
        font-family: 'Roboto';
        font-weight: 700;
        font-style: normal;
        color: #ffffff;
        background: #6b3d0c;
        cursor: pointer;
        outline: none;
        margin-left: 0;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .inp input {
        width: 100%;
        border: none;
        background: #f4f7f9;
        outline: none;
        padding: 15px 20px;
        color: #4d4d4d;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        margin-left: 0;
    } 
    .left231 {
        width: 100%;
         margin-left: 0; 
    }
    .right123 {
        margin-left: 0;
    }
    .asdfkja h1 {
        font-weight: 700;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
        color: #000000;
        font-size: 20px;
        line-height: 1.7;
        letter-spacing: 0px;
        /* margin-left: 5px; */
    }
    .right123 p  {
        margin-top: 15px;
        color: #4d4d4d;
        font-size: 15px;
    }
    .right123 h4 {
        font-weight: 600;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        color: #333333;
        margin-top: 30px;
        line-height: 1;
        letter-spacing: 0px;
        /* padding-left: 5px; */
    }
    .inp .pp {
        font-size: 16px;
        margin-top: 30px;
        color: #4d4d4d; 
        /* padding-left: 5px; */
    }
}
.map {
    width: 100%;
}