.delete_icon{
    position: absolute;
    width: 35px;
    height: 35px;
    border: 1px solid #9DA7BB;
    border-radius: 50%;
    background: white;
    color: #536DFD;
    right: 32px;
    bottom: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: all 0.3s;
}
.delete_icon:hover {
    border: 1px solid #536DFD;
    background: #536DFD;
    color: white;
}
.delete_card{
    width: 100%;
        height: 100%;
        background:rgba(242, 242, 242, 0.251) !important;
    display: none;
    transition: all 0.2s ease;
}
.tgl{
    z-index: 10000000000;
    position: fixed;
    display: flex !important;
    flex-wrap: wrap;
    gap: 50px;
    background:rgba(242, 242, 242, 0.625) !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
}