.email1 {
    width: 350px;
    height: 400px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 30px auto;
}

.email_div1 {
    width: 80%;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.44);
    margin: 20px auto;
    margin-top: 10%;
}

.email_div1 input {
    width: 90%;
    padding-left: 3%;
    margin-top: 10px;
    padding-top: 5px;
}

.login_icon1 {
    font-size: 20px;
}

.email1 h3 {
    text-align: center;
    font-size: 30px;
    margin-top: 10%;
}

.yopish {
    font-size: 30px;
    margin-left: 4%;
    margin-top: 10px;
}
.yopish:hover{
    cursor: pointer;
}