.followcards {
    width: 100%;
    height: auto;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    /* border: 1px solid red; */
}

.inpf {
    width: 1410px;
    height: auto;
    background-color: #f6f6f6;
    margin: auto;
}

@media (max-width:1995px) {
    .inpf {
        width: 1890px;
        height: auto;
        background-color: #f6f6f6;
        margin: auto;


    }
}

@media (max-width:1929px) {
    .inpf {
        width: 1650px;
        height: auto;

        background-color: #f6f6f6;
        margin: auto;


    }
}

@media (max-width:1690px) {
    .inpf {
        width: 1410px;
        height: auto;
        background-color: #f6f6f6;
        margin: auto;


    }
}

@media (max-width:729px) {
    .inpf {
        width: 300px !important;
        height: auto;
        background-color: #f6f6f6;
        margin: auto;
    }
}
@media (max-width:343px) {
    .input {
        padding: 10px;
        width: 250px !important;
        border: none;
        outline: none;
        outline: 1px solid #44bef1;
        border-radius: 5px;
        font-size: 18px;
        transition: width 0.3s;
        font-family: Consolas, monaco, monospace;
    }
    .inpf {
        width: 260px !important;
        height: auto;
        background-color: #f6f6f6;
        margin: auto;
    }
    
}
.inpser {
    width: 100%;
    height: 70px; 
    background-color: #fff;
}

.followcard {
    position: relative;
    width: 330px;
    text-align: center;
    background-color: #fff;
    height: 250px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.jony_foto1 img{
    height: 100%;
    margin-top: -30px;
}
.jony_foto1{
    width: 200px;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    border-radius: 10px;
}
.Name {
    color: #44bef1;
}

.tuman {
    font-weight: 700;
    font-size: 15px;
}

.yangi {
    color: rgba(37, 36, 36, 0.441);
}

.followButton5 {
    width: 100%;
    /* margin-top: 10%; */
    z-index: 6269;
    color: #fff;
    height: 50px;
    font-size: 22px;
    background-color: #44bef1;
}

.followButton4 {
    background-color: gray;
}

.input {
    padding: 10px;
    width: 300px;
    border: none;
    outline: none;
    outline: 1px solid #44bef1;
    border-radius: 5px;
    font-size: 18px;
    transition: width 0.3s;
    font-family: Consolas, monaco, monospace;
}




.input::placeholder {
    color: #44bef1;
}


@media (max-width:967px) {
    .inpf {
        width: 700px;
        height: auto;
        background-color: #f6f6f6;
        margin: auto;


    }
}

@media (max-width:737px) {
    .inpf {
        width: 90%;
        height: auto;
        background-color: #f6f6f6;
        margin: auto;


    }
}

@media (max-width:1450px) {
    .inpf {
        width: 1170px;
        height: auto;
        background-color: #f6f6f6;
        margin: auto;
    }
}

@media (max-width:1210px) {
    .inpf {
        width: 930px;
        height: auto;
        background-color: #f6f6f6;
        margin: auto;
    }
}

@media (max-width:970px) {
    .inpf {
        width: 700px;
        height: auto;
        background-color: #f6f6f6;
        margin: auto;
    }
}

@media (max-width:730px) {
    .inpf {
        width: 90%;
        height: auto;
        background-color: #f6f6f6;
        margin: auto;
    }
}


  .inpser .row{
    justify-content: center;
  }
  .our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #FFF;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #44bef1;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #44bef1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }
  
  .our-team .social {
    width: 100%;
    margin: auto;
    padding: 0;
    margin: 0;
    background-color: #44bef1;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #44bef1;
    background-color: #f7f5ec;
  }
  #col_12{
    padding-left: 15px;
    padding-right: 15px;
    max-width: 20%;
  }
  #col_12 h3{
    font-size: 20px;
  }
  .followButton7{
    background-color: #44bef1;
  }