*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.images{
    width: 100%;
min-height: 240px;
background-color: #f7f7f7;


overflow: hidden;

}
.images-img {
    display: flex;
    align-items: center;
    justify-content:center;
 position: relative;
 top: 90px;
 gap: 80px;
 
}
.images-img img{
    cursor: pointer;
 

}
.images-img img:hover{
    /* filter: drop-shadow(0 0 1rem #dbd1d1); */
    filter: blur(1px);
}
@media (max-width:1240px) {
    .images-img {
        display: flex;
        align-items: center;
        justify-content:center;
     position: relative;
     top: 90px;
     gap: 50px;
     
    }
}
@media (max-width:1180px) {
    .images-img {
        display: flex;
        align-items: center;
        justify-content:center;
     position: relative;
     top: 90px;
     gap: 30px;
     
    }
}
@media (max-width:1035px) {
    .images{
        width: 100%;
   
    background-color: #f7f7f7;
 
    position: relative;
    top: 93px;
    overflow: hidden;
    
    }
}
@media (max-width:980px) {
    .images-img img{
        width: 120px;
        position: relative;
        top: 0px !important;
    }
    .images{
        width: 100%;
    height: 170px !important;
    background-color: #f7f7f7;

    position: relative;
    top: 103px;
    overflow: hidden;
    
    }
    .images-img img{
        cursor: pointer;
     position: relative;
    top: -30px;
    }
}
@media (max-width:910px) {
    .images-img img{
        width: 110px;
    }
}
@media (max-width:850px) {
    .images-img {
display: grid;
grid-template-columns: auto auto auto;
     
   
    }
    .images{
        width: 100%;
    height: 250px;
    background-color: #f7f7f7;
    margin-top: 100px;
    position: relative;
    top: 93px;
    overflow: hidden;
    
    }
    .images-img img{
        width: 140px;
        position: relative;
        top: -85px;
    }
 .images-img{
    gap: 100px;

 }
 .oppo1{
    position: relative;
    top: -150px !important; 
 }
}
@media (max-width:654px) {
    .images-img img{
    width: 110px;
     
    }
    .images-img{
        gap: 80px;
    position: relative;
    top: 130px;
     }
}
@media (max-width:530px) {
    .images-img img{
        width: 110px;
         
        }
        .images-img{
            gap: 80px;
        position: relative;
        top: 130px;
         }
}
@media (max-width:527px) {
    .images-img img{
        width: 110px;
         
        }
        .images-img{
            gap: 70px;
        position: relative;
        top: 130px;
         }
         .oppo1{
            position: relative;
            top: -130px !important; 
         }
}
@media (max-width:500px) {
    .images-img img{
        width: 98px;
         
        }
        .images-img{
            gap: 70px;
        position: relative;
        top: 130px;
         }
         .oppo1{
            position: relative;
            top: -130px !important; 
         }
}
@media (max-width:465px) {
    .images-img img{
        width: 90px;
         
        }
        .images-img{
            gap: 50px;
        position: relative;
        top: 130px;
         }
         .oppo1{
            position: relative;
            top: -100px !important; 
         }
}
@media (max-width:400px) {
    .images-img img{
        width: 70px;
         
        }
        .images-img{
            gap: 50px;
        position: relative;
        top: 130px;
         }
         .oppo1{
            position: relative;
            top: -100px !important; 
         }
         .images{
            width: 100%;
        height: 100px !important;
        background-color: #f7f7f7;
        margin-top: -300px;
        overflow: hidden;
        
        }
}
/* @media (max-width:347px) {
    .images-img img{
        width: 55px;
         
        }
        .images-img{
            gap: 50px;
        position: relative;
        top: 110px;
         }
         .oppo1{
            position: relative;
            top: -110px !important; 
         }
} */
