
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");

* {
  font-family: "Mulish", sans-serif;

  box-sizing: border-box;
}

.mnb {
  width: 100%;
  padding-bottom: 60px;
}
.error{
color: red;
display: none;
}
.form1 {
  border-radius: 20px 0px 0px 20px;
  background-color: #f2f5fb;
  border: 1px solid #f2f5fb;
  width: 100%;
  max-width: 1120px;
  display: block;
  padding-bottom: 60px;
  padding-left: 50px;
  padding-right: 50px;
}
.profil1 img{
  width: 100%;
  height: 100%;
}

.inputla h2 {
  font-size: 18px;
}

.inputla h2 {
  font-size: 16px;
  font-weight: bold;
  color: #222732;
}

.inputla {
  width: 100%;
  margin-top: 20px;
}

.kata {
  width: 80%;
  margin-left: 10%;
}

.inputla input {
  border-radius: 10px;
  box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
  border: solid 1px #e7edf3;
  height: 53px;
  margin-top: 15px;
  padding: 0 27px;
  font-size: 15px;
  color: #2f3b48;
  width: 100%;
  box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
  outline: none;
  font-family: 'Mulish', sans-serif !important;

}

.inputs1 {
  display: flex;
  justify-content: space-between;
  /* margin-top: 50px; */
  gap: 20px;
  font-size: 18px;
}

#asd {
  margin-top: 50px;
}
/* .passportSer{
  height: 100px !important;
} */
.input1 {
  width: 100%;
}

.minTableA h5 {
  font-size: 16px;
}

.divAdress h2 {
  font-size: 16px;
}

.katta {
  display: flex;
  justify-content: center;
  /* padding: 30px; */
}

.accaunt-detailes {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  padding: 15px;
}

.katta {
  display: flex;
  justify-content: center;
}


.profil {
  text-align: center;
  border-radius: 0px 20px 20px 0px;
  width: 357px;

  padding-left: 20px;
  padding-right: 20px;

  background-color: rgba(226, 230, 238, 0.5);
}

.inputs1 h2 {
  font-weight: 400;
  margin-top: 20px;
}

.check2 input {
  display: inline-block;
  vertical-align: text-top;
  width: 18px;
  height: 18px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: 'Mulish', sans-serif !important;

  border-radius: 4px;
}

.check2 p {
  height: 0px;
  margin-left: 10px !important;
}

.check2 {
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-size: 14px;
}

#cb1 {
  accent-color:  #44bef1;
  border: none;
}

.check2:hover {
  color:  #44bef1;
}

.inputs111 h2 {
  font-weight: 400;
}

.inputs111 input {
  width: 48%;
  font-family: 'Mulish', sans-serif !important;

}

.inputs111 {
  margin-top: 30px;
}

.inputs111 h2 {
  margin-top: 30px;
}

.a1 {
  width: 100% !important;
  height: 200px !important;
  padding-bottom: 150px !important;
}

.inputs111 button {
  width: 100%;
  height: 50px;
  background-color:  #44bef1;
  font-size: 17px;
  margin-top: 40px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 20px;
}

.delete1 {
  font-weight: 400;
  font-size: 17px;

  margin-left: 11%;

  margin-left: 30px;
  color:  #44bef1;
}

.profil1 {
  position: relative;
  margin: auto !important;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgba(153, 161, 178, 0.16);
}

.prof {
  position: relative;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(153, 161, 178, 0.16);
  margin-left: 20px;
}

.profil1 input {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 180px;
  cursor: pointer;
  height: 240px;
  opacity: 0;
  font-family: 'Mulish', sans-serif !important;

}

.icon12 {
  font-size: 30px !important;
  color: rgb(194, 194, 194);
}

.prof input {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 75px;
  height: 80px;
  opacity: 0;
  cursor: pointer;
  z-index: 100;
  font-family: 'Mulish', sans-serif !important;

}

.profil h2 {
  margin-top: 40px;
  font-weight: 600;
  font-size: 19px;
  padding-bottom: 30px;
}

.profil h2 {
  margin-top: 40px;
  font-weight: 500;
  font-size: 17px;
  padding-bottom: 30px;
}


.bb1 {
  margin-top: 40px;
  font-weight: 400 !important;
  font-size: 15px !important;
  color: #99a1b2;
  padding-bottom: 0px !important;
}

.icon1 {
  font-size: 80px !important;
  color: rgb(194, 194, 194);
}

.icon1 {
  font-size: 80px !important;
  color: rgb(194, 194, 194);
}

@media (max-width: 1150px) {
  .inputs1 {
    display: block;
  }

  .input1 {
    width: 100%;
  }
}


@media (max-width: 800px) {
  .accaunt-detailes {
    display: block;
  }

  .TableB {
    overflow-x: scroll;
  }

  .profil h2 {
    padding-top: 40px;
    margin-top: 0px;
  }

  .form1 {
    border-radius: 20px 20px 0px 0px;
    background-color: #f2f5fb;
    border: 1px solid #f2f5fb;
    width: 100%;
    max-width: 1120px;
    display: block;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .profil {
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(226, 230, 238, 0.5);
    padding-bottom: 40px;
  }

  .inputs111 input {
    width: 100%;
    font-family: 'Mulish', sans-serif !important;

  }
}

#vv {
  margin-top: 20px;
  outline: none;
  min-height: 200px;
  border-radius: 10px;
  width: 100%;
  padding: 10px 27px;
  font-size: 16px;
  line-height: 16px;
  box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
  border: 1px solid #e7edf3;
  background: #fff;
}

.change-password {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.change-password button {
  width: 100% !important;
}

.change {
  width: 600px;
  /* margin-left: 10%; */
  /* height: 100px; */
  background-color: #f2f5fb;
  max-width: 1300px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;
  padding-bottom: 40px;
}

.change h2 {
  margin-top: 20px;
  font-size: 19px;
  font-weight: bold;
  color: #222732;
}

.inpu1 input {
  border-radius: 10px;
  box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
  border: solid 1px #e7edf3;
  height: 53px;
  margin-top: 15px;
  padding: 0 27px;
  font-size: 15px;
  color: #2f3b48;
  width: 100%;
  box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
  outline: none;
  font-family: 'Mulish', sans-serif !important;

}

.change button {
  width: 120px;
  height: 50px;
  background-color:  #44bef1;
  font-size: 17px;
  margin-top: 40px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 20px;
}

.inpu1 h2 {
  font-weight: 400;
  font-size: 17px;
}

@media(min-width:800px) {
  .tableb {
    overflow-x: hidden !important;
  }
}

@media (max-width: 800px) {
  .inpu1 input {
    border-radius: 10px;
    box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
    border: solid 1px #e7edf3;
    height: 53px;
    margin-top: 15px;
    padding: 0 27px;
    font-size: 15px;
    color: #2f3b48;
    width: 100%;
    box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
    outline: none;
    font-family: 'Mulish', sans-serif !important;

  }

  .change {
    width: 100%;
    /* margin-left: 10%; */
    /* height: 100px; */
    background-color: #f2f5fb;
    max-width: 1300px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    padding-bottom: 40px;
  }
}

.all-button button {
  width: 250px;
  height: 50px;
  background-color:  #44bef1;
  font-size: 18px;
  margin-top: 4%;
  border-radius: 10px;
  margin-left: 5px;
}

.all-button {
  display: flex;
  justify-content: center;
}

@media (max-width: 505px) {
  .all-button button {
    width: 30%;
    height: 60px;
    background-color:  #44bef1;
    font-size: 3vw;
    margin-top: 40px;
    border-radius: 10px;
    padding: 0px !important;
  }

  .all-button {
    padding-left: 1px !important;
    padding-right: 5px !important;
  }
}

.all-button {
  padding-left: 15px;
  padding-right: 15px;
}

.accaunt {
  margin-top: 95px !important;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 200px;
  background-color: #f2f5fb;
}

.accaunt h2 {
  font-size: 35px !important;
}

.ii {
  color: white !important;
}

.orange {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color:  #44bef1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons11 {
  display: flex;
  align-items: center;
}

.buttons11 button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  font-size: 19px;
  background-color: white;
  color: black;
  margin-left: 20px;
}

.buttons11 button:hover {
  border: 1px solid  #44bef1;
}

#a1a {
  display: none;
}

@media (max-width: 800px) {
  .prof {
    display: none;
  }

  .accaunt h2 {
    display: none;
  }

  .accaunt {
    display: block;
    text-align: center !important;
  }

  #a1a {
    display: flex;
    margin: auto !important;
  }

  * .buttons11 button {}


  .buttons11 {
    padding-top: 20px;
    width: 400px;
    display: flex;
    justify-content: center !important;
    margin: auto !important;
    padding-right: 20px;
  }
}

@media (max-width: 480px) {
  .buttons11 {
    padding-top: 20px;
    width: 300px;
    display: flex;
    justify-content: center !important;
    margin: auto !important;
    padding-right: 10px;
  }

  .accaunt {
    margin-top: 75px !important;
    padding: 10px;
  }

  .buttons11 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    font-size: 14px;
    font-weight: 400;
    background-color: white;
    color: black;
    margin-left: 10px;
  }
}

.kok {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1400px;
  width: 100%;
  margin-top: 100px;
  margin-top: 150px;
  background-color: #f2f5fb;
  border-radius: 20px;
  margin: auto !important;
  padding-left: 20px;
  padding-right: 20px;
}

.ba {
  margin-top: 60px;
  padding: 15px;
}

.icon1 {
  font-size: 80px !important;
  color: rgb(194, 194, 194);
  /* display: none !important; */
}

.selectLocation {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.regionDv {
  width: 1000px;
  background-color: #f2f5fb;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  border-radius: 20px;
  margin-top: 15px;
  padding-bottom: 10px;
}

#mlk {
  padding: 15px;
}


.regionAdd input {
  width: 45%;
  height: 40px;
  border: 1px solid black;
  padding-left: 10px;
  border-radius: 100px;
  outline: none;
  font-family: 'Mulish', sans-serif !important;

}


.regionDv button {
  width: 40%;
  height: 40px;
  margin-left: 30%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.regionAdd input {
  width: 45%;
  padding-left: 10px;
  border-radius: 100px;
  outline: none;
  font-family: 'Mulish', sans-serif !important;

}

.tableAdres {
  width: 100%;
}

.minTableA {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  /* box-shadow: 0 0 4px black; */
  min-height: 50px;
  box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
  border-radius: 10px;
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  /* padding: 5px; */
}

.in11 {
  display: block;
}

.in11 h2 {
  font-weight: 400;
  font-size: 16px;
  margin-top: 15px;
}

.inpla11 {
  display: flex;
  justify-content: space-between;
}

.nmbv {
  display: flex;
  justify-content: center;
}

.minTableA h5 {
  /* width: 400px; */
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

.minTableA2 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* padding: 5px; */
}


.minTableA2 h5 {
  width: 400px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 0 1px rgb(172, 172, 172); */
  background: #fff;
  /* text-align: center; */
}

.minTableA2 button {
  width: 45%;
  height: 35px;
  margin-left: 3px;
}

.fiEdit {
  font-size: 20px;
  margin: 5px;
}

.riDelete {
  font-size: 20px;
  margin: 5px;
}

.divAdress button {
  margin: auto;
  width: 250px;
  height: 40px;
  font-size: 20px;
  /* margin-left: 35%; */
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divAdress input {
  border-radius: 10px;
  box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
  border: solid 1px #e7edf3;
  height: 53px;
  margin-top: 15px;
  padding: 0 27px;
  font-size: 15px;
  color: #2f3b48;
  width: 100%;
  box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
  outline: none;
  font-family: 'Mulish', sans-serif !important;

}

.divAdress p {
  width: 57%;
  margin-left: 10px;
  display: flex;
  text-align: left;
  justify-content: space-between;
}

.divAdress2 {
  width: 600px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.divAdress2 button {
  width: 25%;
  height: 35px;
  font-size: 20px;
  margin-left: 35%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.divAdress2 input {
  border-radius: 10px;
  box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
  border: solid 1px #e7edf3;
  height: 53px;
  margin-top: 15px;
  padding: 0 27px;
  font-size: 15px;
  color: #2f3b48;
  width: 100%;
  box-shadow: 1px 1px 0 0 rgba(196, 196, 196, 0.24);
  outline: none;
  font-family: 'Mulish', sans-serif !important;

}

.divAdress2 p {
  width: 63%;
  margin-left: 10px;
  display: flex;
  text-align: left;
  justify-content: space-between;
}

.adres2Big {
  width: 100%;
  min-height: 100vh;
  background: #000007a0;
  position: fixed;
  z-index: 111;
  padding: 15px;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.btnddiv {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btnddiv button {
  width: 40%;
  margin: 0;
  margin-left: 10px;
  margin-right: 0;

}

.btnddiv button:nth-child(1) {
  background: red;
}

.dele1 {
  color:  #44bef1;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  /* margin-top: 40px; */
  display: inline-block;
  margin-top: 180px !important;
}

.regionAdd {
  width: 48%;
}

#region1 {
  width: 100%;
}

@media(max-width:800px) {
  .inpla11 {
    display: block;
  }

  .regionAdd {
    width: 100%;
  }

  .regionDv {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    overflow: hidden;
  }

  .TableB {
    width: 720px !important;
  }
}

.perevod img {
  width: 50px;
}

#pere {
  width: 45px;
}

.TableB {
  width: 100%;
  text-align: center;
  background: white;
  border-radius: 13px;
  padding: 7px;
  padding-top: 13px;
}

.tableb {
  overflow-x: scroll;
  border-radius: 13px;
}

@media(max-width:550px) {
  .btnddiv {
    width: 100% !important;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: -5px !important;
  }

  .btnddiv button {
    width: 50% !important;
    margin: 0;
    margin-left: 10px;
    margin-right: 0;
  }
}

.loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.car__body {
  -webkit-animation: shake 0.2s ease-in-out infinite alternate;
  animation: shake 0.2s ease-in-out infinite alternate;
}

.car__line {
  transform-origin: center right;
  stroke-dasharray: 22;
  -webkit-animation: line 0.8s ease-in-out infinite;
  animation: line 0.8s ease-in-out infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.car__line--top {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.car__line--middle {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.car__line--bottom {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@-webkit-keyframes shake {
  0% {
    transform: translateY(-1%);
  }

  100% {
    transform: translateY(3%);
  }
}

@keyframes shake {
  0% {
    transform: translateY(-1%);
  }

  100% {
    transform: translateY(3%);
  }
}

@-webkit-keyframes line {
  0% {
    stroke-dashoffset: 22;
  }

  25% {
    stroke-dashoffset: 22;
  }

  50% {
    stroke-dashoffset: 0;
  }

51% {
    stroke-dashoffset: 0;
  }

  80% {
    stroke-dashoffset: -22;
  }

  100% {
    stroke-dashoffset: -22;
  }
}

@keyframes line {
  0% {
    stroke-dashoffset: 22;
  }

  25% {
    stroke-dashoffset: 22;
  }

  50% {
    stroke-dashoffset: 0;
  }

  51% {
    stroke-dashoffset: 0;
  }

  80% {
    stroke-dashoffset: -22;
  }

  100% {
    stroke-dashoffset: -22;
  }
}

.minTableB1 th {
  font-size: 20px;
}
@media (max-width:505px) {
  .all-button button {
    width:200px;
    height: 50px;
   
    font-size: 18px;
    margin-top: 40px;
    border-radius: 10px;
    margin-left: 5px;
  }
}
@media (max-width:433px) {
  .all-button button {
    width:150px;
    height: 50px;
   
    font-size: 15px;
    margin-top: 40px;
    border-radius: 10px;
    margin-left: 5px;
  }
}
@media (max-width:353px) {
  .all-button button{
    width: 130px;
    font-size: 13px;
  }
}
@media (max-width:1148px) {
  .all-button{
    margin-top: 10%;
  }
}
@media (max-width:448px) {
  
  .all-button{
    margin-top: 25%;
  }
}