

.gray_blok {
    height: 120px;
    width: 100%;
    background-color: #f1f2f6;
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
    
    
    .profil_blok_menu_clone{
        display: none;
    } 
    .Filter {
        width: 100%;
        align-items: center !important;
    }
    
    .blur_blok {
        width: 80% !important;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    
    .inp_blok input {
        width: 100%;
        height: 45px;
        border-radius: 5px;
        outline: none;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 60px;
        border: none;
        background-color: #e2e2e2;
    }
    
    .inp_blok {
        width: 450px;
        display: flex;
        position: relative;
        border-radius: 5px;
        justify-content: space-around;
    
    }

    .search {
        font-size: 25px;
        position: absolute;
        right: 20px;
        top: 10px;
    }
    
    .icon_blok {
        width: 200px;
        align-items: center;
        display: flex;
        justify-content: space-around;
    }
    
    .sel_blok {
        padding-left: 10px ;
        padding-right: 10px;
        height: 40px;
        border-radius: 5px;
        border: 2px solid rgba(128, 128, 128, 0.438);
        display: flex;
        justify-content: space-around;
        align-items: center !important;
        transition:all .2s ease-in-out;
    }
    .sel_blok:hover{
        cursor: pointer;
        scale: 1.1;
        border: 1px solid  #44bef1;
    }
    .sel_blok h4 {
        font-size: 15px;
        font-weight: 500;
        align-items: center !important;
        margin-top: 10px;
    }
    
    .menyu {
        font-size: 20px !important;
    }
    
    .window {
        font-size: 30px;
        color: rgba(131, 131, 131, 0.801);
    }
    
    .manu {
        font-size: 30px;
        color: rgba(131, 131, 131, 0.801);
    }
    
    /* .win_men {
        display: flex;
        justify-content: space-around;
    } */
    
    .fil_text_blok {
        width: 80%;
        display: flex;
        align-items: center;
        gap: 50px;
        margin-top: 85px;
    }
    .fil_text_blok_soz{
        position: relative;
    }
    .fil_text_blok h1{
        font-size: 17px;
        cursor: pointer;
    }
    
    /* .fromLeft:after {
        padding-bottom: 20px;
      display:block;
      content: '';
      border-bottom: solid 2px #536DFD;
      transform: scaleX(0);  
      transition: transform 250ms ease-in-out;
    }
    .fromLeft.fromLeft:hover:after{ transform: scaleX(1); transform-origin:   0% 50%; } */
    
    .fromLeft:hover{
        border-bottom: 2px solid #44bef1;
      }
    
    
    
    .nav-link {
        color: black !important;
        font-size: 17px !important;
    }
    
    .nav-link:hover {
        border-bottom: 2px solid blue !important;
    }
    
    .nav-underline {
        width: 50% !important;
        display: flex;
        margin-left: 8%;
        justify-content: space-around !important;
    }
    .fil_text_blok_kurs_lenght{
        width: auto;
        position: absolute;
        padding: 5px;
        top: -30px;
        right: -50px;
        border: 2px solid #9DA7BB4D;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        font-size: 10px;
        color:#44bef1 !important;
    }
    
    
    
    .werker {
        text-align: center !important;
        font-size: 15px !important;
        width: 100% !important;
    }
    
    @media (max-width:860px) {
        .inp_blok {
            width: 300px;
        }
    }
    
    @media (max-width:642px) {
        .blur_blok {
            width: 100% !important;
            flex-direction: column;
            margin: auto !important;
        }
    
        .icon_blok {
            margin: 30px auto;
    
        }
    
        .inp_blok {
            margin: auto;
            margin-top: 50px;
        }
    }
    
    @media (max-width:700px) {
        .nav-underline {
            margin: auto;
        }
    }
    
    @media (max-width:345px) {
        .inp_blok {
            width: 270px !important;
        }
    }
    
    .znani {
        text-align: center;
        font-size: 15px !important;
    }
    
    
    .Nav.Link3 {
        color: red !important;
    }
    
    .show-content {
        display: block;
    }
    
    .content {
        display: none;
    }
    
    .cali_df {
        width: 82% ;
        display: flex;
        margin: auto;
        flex-wrap: wrap !important;
        justify-content: space-around;
        margin-top: 5%;
        margin-bottom: 50px ;
    }
    
    .cali {
        width: 350px;
        height: 420px !important;
        box-shadow: 2px 2px 10px gray;
        border-radius: 5px;
        margin-top: 30px;
    }
    
    .cali img {
        width: 100%;
    }
    
    .text_blok {
        width: 300px;
        height: 80px;
        margin-top: 10px !important;
    
        margin: auto;
    
    }
    
    .text_blok h3 {
        font-size: 20px !important;
    
    }
    
    .gold {
        color: gold;
    }
    
    .star_icon_blok {
        width: 200px;
        margin-top: 7%;
        display: flex;
        justify-content: space-around;
    }
    
    .bolim_blok {
        display: flex;
        justify-content: space-between;
        width: 95%;
        padding-top: 5%;
    
    }
    
    .kurs_hajmi p {
        font-weight: 700;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.61);
    }
    
    .kurs_hajmi h3 {
        font-size: 20px !important;
        margin-top: -10px !important;
        font-weight: 700 !important;
    
    }
    
    .kurs_bolimlari p {
        font-weight: 700;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.61);
    }
    
    .kurs_bolimlari h3 {
        font-size: 20px !important;
        font-weight: 700;
        margin-top: -10px !important;
    }
    
    .left_icon {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        font-size: 25px;
        color: rgba(0, 0, 255, 0.747);
        border: 1px solid gray;
        text-align: center;
        align-items: center !important;
        padding-top: 1px ;
    }
    
    .left_icon:hover {
        background-color: rgba(0, 0, 255, 0.575);
        color: #fff !important;
    }
    
    .zero_blok {
        width: 300px;
        margin: auto;
    
    }
    
    .text_blok h3:hover {
        color: rgba(0, 0, 255, 0.747);
        cursor: pointer;
    }
    
    .cali1 {
        width: 350px;
        height: 420px !important;
        border: 3px dashed #9DA7BB;
        border-radius: 4px;
        margin-top: 30px;
    
    }
    
    .plus_blok {
        text-align: center !important;
        margin-top: 50%;
        color: rgba(0, 0, 0, 0.582);
    }
    
    .plus_icon {
        font-size: 40px !important;
    
    }
    
    .point_blok {
        width: 200px;
        display: flex;
        justify-content: space-around;
        margin-top: 5% !important;
        margin: auto;
    }
    .profil_blok_menu{
        display: none;
    }
    
    .nuqta {
        font-size: 20px;
        color: rgba(0, 0, 255, 0.747);
    }
    .profil_modal_media{
        display: none;
    }
    .nav{
        width:auto !important;
        flex-wrap: nowrap !important;
    }
    @media (max-width:368px) {
        .cali{
            width: 300px;
            height: auto;
        }
        .text_blok{
            width: 250px ;
        }
        .zero_blok{
            width: 250px;
            margin-top: 20px;
        }
        .text_blok h3{
            width: 250px;
            font-size: 15px !important;
        }
        .star_icon_blok{
            width: 230px;
        }
        .kurs_hajmi p{
            font-size: 12px !important;
        }
        .kurs_hajmi h3{
            font-size: 17px !important;
        }
        .kurs_bolimlari p{
            font-size: 12px !important;
        }
        .kurs_bolimlari h3{
            font-size: 16px !important;
        }
        .left_icon{
            width: 40px;
            height: 40px;
            font-size: 20px;
            margin-top: 10px;
        }
        .cali1{
            width: 300px;
        }
    }
    @media (max-width:1000px) {
        .fil_text_blok{
            width: 80%;
            gap: 30px;
        }
        .gray_blok{
            height: 90px;
        }
        .fil_text_blok_kurs_lenght{
            top: -20px;
            right: -35px;
            font-size: 7px;
            border: 1px solid #9DA7BB;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }
        .fil_text_blok{
            margin-top: 58px;
        }
        .fil_text_blok_kurs_lenght{
        padding: 2px;
        }
    }
    @media (max-width:991px) {
    .fil_text_blok{
        display: none ;
    }
    .profil_blok_menu{
        display: block !important;
        padding: 10px;
        font-size: 40px;
        color: rgba(255, 255, 255, 0.911);
        margin-right: 5%;
        border: 2px solid #9DA7BB;
        background-color: #cfd5e2;
        border-radius: 50%;
    }
    .profil_blok_menu_size{
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .profil_blok_menu_clone {
        /* display: block !important; */
        padding: 10px;
        font-size: 40px;
        color: rgba(255, 255, 255, 0.911);
        margin-right: 5%;
        border: 2px solid #9DA7BB;
        background-color: #cfd5e2;
        border-radius: 50%;
    }
    .gray_blok{
        position: relative;
    }
    .profil_modal_media{
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        z-index: 10;
        height: auto;
        background-color: white;
        box-shadow: 0px 1px 2px 0px grey;
        display: none;
    }
    .menu_modal{
        display: block ;
        position: absolute;
        top: 90px;
    }
    .profil_modal_media h1{
        width: 100%;
        font-size: 15px;
        padding-top: 15px;
        padding-left: 15px;
    }
    .fromMenu:after {
      padding-bottom: 10px;
      display:block;
      content: '';
      border-bottom: solid 3px #536DFD;
      transform: scaleX(0);  
      transition: transform 250ms ease-in-out;
    }
    .fromMenu.fromMenu:hover:after{ transform: scaleX(1); transform-origin:   0% 50%; }
    }
    @media (max-width:356px) {
        .cali{
            height: 370px !important;
        }
        .cali1{
            height: 370px !important; 
        }
    }
    @media (max-width:404px) {
        .text_blok{
            padding: 10px;
        }
        .star_icon_blok{
            padding: 10px;
        }
        .bolim_blok{
            padding: 10px;
        }
        #eadi{
          font-size: 10px;
        
        }
    }