.navbar {
  width: 100%;
  height: 70px;
  background-color: #323946;
  position: fixed;
  z-index: 100456456456;
  top: 0;
  transition: 0.5s;
}
.navbar-ul ul {
  display: flex;
  gap: 40px;
  margin-left: 13.5vw;
  align-items: center;
  margin-bottom: 0px;
}
.menu {
  position: relative;
}
.menu p {
  display: flex;
  font-size: 15px;
  gap: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
 
}
.media-ul ul li:hover{
  background-color: #44bef1 !important;
  cursor: pointer;
}
.ichi:hover{
  background-color: #44bef1;
  cursor: pointer;
}
#hh1 {
  display: none;
}
#hh2 {
  display: none;
}
.menu p span {
  transition: 0.5s;

}

.menu ul {
  position: absolute;
  width: 250px;
  top: 52px;
  right: -150px;
  background: #ffffff;
  list-style: none;
  text-align: left;
  transform: all 3s;
  display: none;
  border: 1px solid rgb(218, 211, 211);
  transition: 0.4s;
}
.menuu {
  height: 40px;
  cursor: pointer;
}
.menu li a {
  display: block;
  font-size: 12px;
  padding: 10px 0 10px 20px;
  font-size: 14px;
  text-decoration: none;
  box-sizing: border-box;
  transform: 0.4s;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #333333;
  text-decoration: none;
  background-color: transparent;
}

/* .menu a:hover{
   
    color: white;
} */
.moto-menu-item {
  display: flex;
  color: white;
  cursor: pointer;
}
.menu a {
  display: block;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}
.menu a:hover{
  color: rgb(68, 190, 241);
}
.moto-menu-item a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  transition: 0.4s;
}
.moto-menu-item a:hover {
  color: #44bef1;
}
/* .menu p span:hover{
    transform: rotate(180deg);
} */
.moto-menu-item {
  transition: 0.4s;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  text-decoration: none;
}
.menu p span {
  position: relative;
  top: 7px !important;
}
.asd img {
  width: 100%;
  height: 400px;
}
.navbbar-line-hr {
  width: 115%;
  height: 1px;
  background-color: #d8dbdf;
  position: relative;
  right: 33px;
}
.navbbar-line-hr1 {
  width: 127%;
  height: 1px;
  background-color: #d8dbdf;
  position: relative;
  right: 33px;
}
.menu ul li {
  width: 100%;
  padding: 5px;
  position: relative;
  left: -35px;
}

.menu2 li a span {
  width: 100%;
  height: 100%;
}
.menu2 {
  position: relative;
}


.menu ul a:hover {
  color: #44bef1;
}
.div1 {
  position: absolute;
  width: 120px;
  height: 92px;
  top: 130px;
  left: 30%;
display: none;
position: fixed ;
}

.menu2 p {
  width: 100%;
  /* height: 50px; */

  padding-top: 5px;
}

.menu2 a {
  padding-left: 20px;
  box-sizing: border-box;
  transform: 0.4s;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #333333;
  position: relative;
  left: -40%;
  text-decoration: none;
  background-color: transparent;

  font-size: 12px;
}
.menu2 p span {
  position: relative;
  top: 7px;
left: 170%;
}
#menu2spanid{
  position: relative;
  top: 7px;
left: 240%;
}
#menu2pp{
  position: relative;
  right: 10px;
}
.menu2 p a {
  font-size: 14px;

}
@media (max-width:1085px) {
  #menu2spanid{
    position: relative;
    top: 7px;
  left: 190%;
  }
}
.media-menu-navbar {
  display: none;
}
@media (max-width: 1431px) {
  .menu ul {
    display: none;
  }
  .menu li a {
    font-size: 12px;
    padding: 10px 0 10px 20px;
    font-size: 14px;
    text-decoration: none;
    box-sizing: border-box;
    transform: 0.4s;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #333333;
    text-decoration: none;
    background-color: transparent;
  }
}
#hh1 {
  width: 100%;
  height: 1px;
  background-color: rgb(229, 226, 232) !important;
  position: relative;
  top: -10px;
}
#hh2 {
  width: 100%;
  height: 1px;
  background-color: rgb(229, 226, 232) !important;
  position: relative;
  top: 10px;
}
.qqq {
  position: relative;
  top: -10px !important;
}

.media-navbar {
  display: none;
}
@media (max-width: 770px) {
  .div1{
    display: none !important;
    position: fixed;
  }
  .navbar-ul {
    display: none;
  }
  .navbar {
    width: 100%;
    height: 65px;
    background-color: #323946;
    padding-top: 15px;
  }

  .bar-menu {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
position: relative;
top: -20px;

    cursor: pointer;
  }


  .media-navbar {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
  }
  .wone {
    width: 60%;
    height: 3px;
    background-color: #44bef1;
    position: relative;
    top: 10px;
    margin-top: 5px;
    margin-left: 20%;
  }
  .wone1 {
    width: 60%;
    height: 3px;
    background-color: #44bef1;
    position: relative;
    top: 9px;
    margin-top: 5px;
    margin-left: 20%;
  }
  .wone2 {
    width: 60%;
    height: 3px;
    background-color: #44bef1;
    position: relative;
    top: 8px;
    margin-top: 5px;
    margin-left: 20%;
  }
}
@media (min-width: 770px) {
  .media-navbar {
    display: none !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .navbar-ul {
    display: flex;
  }
}
@media (max-width: 1039px) {
  .asd-block h1 {
    font-size: 40px;
    line-height: 0.9;
    letter-spacing: 0px;
  }

  .rr {
    display: none;
  }
  .safiha-p a {
    color: #333;
    text-decoration: none;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-radius: 0px;
    border-color: transparent;
    border-style: none;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    position: relative;
    top: -5px;
  }
  .safiha-d p {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    color: #949494;
  }
  .safiha-d p {
    position: relative;
    top: 8px;
    left: 4px;
  }
  .sahifa {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid rgb(217, 208, 208);
    position: relative;
  }
  .sahifa-glav {
    display: flex;
    padding: 8px 0;
    margin: 0;
  }



  .media-ul ul li {
    text-decoration: none;
    text-transform: uppercase;
    display: flex;

    font-size: 12px;
    line-height: 1.2;
    font-family: "Mulish", sans-serif !important;
    font-weight: 900;
    font-style: normal;
    color: #323946;
    border-radius: 0;
  }
  .tt {
    text-decoration: none;
    color: #323946;
  }
  /* .bar-menu{
    position: relative;
    left: 45vw;
} */
  .adelna {
    background-color: #44bef1;
    width: 95vw;
    height: 35px;
    color: white;
  }
  .adelna a {
    color: white !important;
  }
  .ffd ul {
    transition: 0.4s !important;
    display: none;
    padding: 0px 20px;
    font-size: 14px;
    margin: 0;
    border: none;
  }
}
.ffd ul li {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #989da2;
}
.media-ul ul a {
  text-decoration: none;
}
.media-ul ul .ds a {
  color: #151515f7;
}
.ichi span {
  position: relative;
  text-align: center;
  top: 1px;
  max-width: 95vw;
  height: 100%;
  margin: auto;
  margin-right: 15px;
  transition: 0.5s;
}
.ichi2 {
  display: flex;
}
.ichi2 span {
  position: relative;
  text-align: center;
  top: 1px;
  max-width: 95vw;
  height: 100%;
  margin: auto;
  margin-right:33px;
  transition: 0.5s;
}

.lll ul a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #989da2;
}
.lll ul {
  width: 100%;
  height: 50px;
}
.lll1 {
  position: relative;
  top: -10px;
}
.lll2 {
  position: relative;
  top: -20px;
}

.la {
  background-color: #44bef1;
}
.laa {
  background-color: white;
}
@media (max-width: 480px) {
  .safiha-p a {
    color: #333;
    text-decoration: none;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-radius: 0px;
    border-color: transparent;
    border-style: none;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    position: relative;
    top: 0px;
  }
  .safiha-d p {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    color: #949494;
    top: 6px;
  }
  .safiha-p span {
    position: relative;
    top: 5px;
  }
  .safiha-p a box-icon {
    width: 15px;
    height: 15px;
  }
  .sahifa {
    width: 100%;
    min-height: 42px;
    border-bottom: 1px solid rgb(217, 208, 208);
    position: relative;
  }
}

.ichi p {
  padding-left: 20px;
  position: relative;
  top: -5px !important;
}
.media-kategory li box-icon {
  margin-left: 82vw;
}
.sam {
  position: relative;
  left: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #333333;
  text-decoration: none;
  background-color: transparent;
  padding: 7px 30px;
  font-size: 14px;
  margin: 0;
  border: none;
  cursor: pointer;
  display: block;
}

/* .ichi{
    display: flex;
  align-items: center;
  width: 95vw;
  height: 100%;
  background-color: #44bef1;
  color: white;
} */

.ichi li a {
  color: white;
}

.sss {
  width: 313px;
  height: 50px;
}
#hr {
  width: 80% !important;
}
.menuu p {
  display: flex;
  align-items: self-end;
  justify-content: center;
}
.menuu li {
  position: relative;
  display: flex;
}
.submit {
  position: absolute;
  background-color: #ffffff;
  width: 140px;
  display: block !important;
  left: 0;
}

.asd {
  width: 100%;
  min-height: 300px;
  background: url("https://template59172.motopreview.com/mt-demo/59100/59172/mt-content/uploads/2016/09/mt-0514-header-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.asd h1 {
  font-weight: 700;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 46px;
  line-height: 0.8;
  letter-spacing: 0px;
}
.asd-block {
  display: block;
}

.sahifa {
  width: 100%;
  min-height: 50px;
  border-bottom: 1px solid rgb(217, 208, 208);
  position: relative;
}
.safiha-p a {
  color: #333;
  text-decoration: none;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-radius: 0px;
  border-color: transparent;
  border-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  position: relative;
  top: -5px;
}
.sahifa-glav {
  display: flex;
  padding: 14px 0;
  position: relative;
  left: 310px;
}
.safiha-d p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  color: #949494;
}
.safiha-p span {
  position: relative;
  top: 8px;
}
.safiha-d p {
  position: relative;
  top: 5px;
  left: 4px;
}
@media (max-width: 1434px) {
  .sahifa-glav {
    display: flex;
    padding: 14px 0;
    position: relative;
    left: 8vw;
  }
}
@media (max-width: 767px) {
  .asd-block h1 {
    font-weight: 700;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 34px !important;
    line-height: 0.8;
    letter-spacing: 0px;
  }
}
@media (max-width: 600px) {
  .asd-block h1 {
    font-weight: 700;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 33px !important;
    line-height: 0.8;
    letter-spacing: 0px;
  }
}




@media (max-width: 1034px) {
  .asd {
    width: 100%;
    min-height: 220px;
    background: url("https://template59172.motopreview.com/mt-demo/59100/59172/mt-content/uploads/2016/09/mt-0514-header-bg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar {
    width: 100%;
    height: 50px !important;
    background-color: #323946;
  }

 
  .hr {
    display: none;
  }

  
  
  .menuu {
    height: 30px !important;
    cursor: pointer;
  }

 

 
 
  .qqq {
    position: relative;
    top: -10px !important;
  }



  .ul {
    position: absolute;
    width: 180px;

    left: 170px;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;

    top: -0px;
  }

}
.media-navbar {
  display: none;
}
@media (max-width: 770px) {
  .navbar-ul {
    display: none;
  }
  .navbar {
    width: 100%;
    height: 60px;
    background-color: #323946;
    padding-top: 15px;
  }

  .bar-menu {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
position: relative;
left: 0;

    
  }
  .bar-menu box-icon {
    width: 100%;
    height: 100%;
    color: red !important;
  }

  .media-navbar {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
  }
  .wone {
    width: 60%;
    height: 3px;
    background-color: #44bef1;
    position: relative;
    top: 10px;
    margin-top: 5px;
    margin-left: 20%;
  }
  .wone1 {
    width: 60%;
    height: 3px;
    background-color: #44bef1;
    position: relative;
    top: 9px;
    margin-top: 5px;
    margin-left: 20%;
  }
  .wone2 {
    width: 60%;
    height: 3px;
    background-color: #44bef1;
    position: relative;
    top: 8px;
    margin-top: 5px;
    margin-left: 20%;
  }
}
@media (min-width: 770px) {
  .media-navbar {
    display: none !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .navbar-ul {
    display: flex;
  }
}
@media (max-width: 1039px) {
  .asd-block h1 {
    font-size: 40px;
    line-height: 0.9;
    letter-spacing: 0px;
  }
  .rr {
    display: none;
  }
  .safiha-p a {
    color: #333;
    text-decoration: none;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-radius: 0px;
    border-color: transparent;
    border-style: none;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    position: relative;
    top: -5px;
  }
  .safiha-d p {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    color: #949494;
  }
  .safiha-d p {
    position: relative;
    top: 8px;
    left: 4px;
  }
  .sahifa {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid rgb(217, 208, 208);
    position: relative;
  }
  .sahifa-glav {
    display: flex;
    padding: 8px 0;
    margin: 0;
  }
  
  .media-ul {
    width: 94vw;
    overflow: hidden;
    position: relative;
    border: 2px solid #44bef1;
    background-color: #ffffff;
top: -13px;
display: none;

  }
  .media-navbar{
    position: relative;
    left: 2%;
  }
  .media-ul ul li {
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
 position: relative;
 left: -40px !important;
    font-size: 13px;
    line-height: 1.2;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;

    border-radius: 0;
  }
  .ichi{
    display: flex;
  align-items: center;
  width: 95vw;
  height: 100%;
  position: relative;
  left: -40px !important;
} 
.ichi li a {

  position: relative;
  /* top: -5px !important; */
  left: 40px !important;
}
  .media-ul ul a {
    text-decoration: none;
    color: #323946;
  }
  /* .bar-menu{
    position: relative;
    left: 45vw;
} */
  .adelna {
    background-color: #44bef1;
    width: 95vw;
    height: 35px;
    color: white;
  }
  .adelna a {
    color: white !important;
  }
}

.la {
  background-color: #44bef1 !important;

}
.tt{
  color: black !important;
}
.laa {
  background-color: white !important;
}
@media (max-width: 480px) {
  .safiha-p a {
    color: #333;
    text-decoration: none;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-radius: 0px;
    border-color: transparent;
    border-style: none;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    position: relative;
    top: 0px;
  }
  .safiha-d p {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    color: #949494;
    top: 6px;
  }
  .safiha-p span {
    position: relative;
    top: 5px;
  }
  .safiha-p a box-icon {
    width: 15px;
    height: 15px;
  }
  .sahifa {
    width: 100%;
    min-height: 42px;
    border-bottom: 1px solid rgb(217, 208, 208);
    position: relative;
  }
}
.menu2 ul {
  position: absolute;
  width: 150px !important;
  left: -18% !important;
  transition: 0.4s;
  margin-top: 14px !important;
  background: #ffffff;
  list-style: none;
  text-align: left;
  transform: all 3s;
  top: -15px;
}
.ichi p {
  padding-left: 20px;
  position: relative;
  top: -5px !important;
}
.media-kategory li box-icon {
  margin-left: 82vw;
}
.sam {
  position: relative;
  left: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #333333;
  text-decoration: none;
  background-color: transparent;
  padding: 7px 30px;
  font-size: 14px;
  margin: 0;
  border: none;
  cursor: pointer;
  display: block;
}

/* .ichi{
    display: flex;
  align-items: center;
  width: 95vw;
  height: 100%;
  background-color: #44bef1;
  color: white;
} */

.ichi li a {
  color: white;
}
.ichi ul {
  /* position: absolute; */
  display: block;
  background-color: #323946;
  list-style: none;
  text-align: left;
  transform: all 3s;
  opacity: 0;
  visibility: hidden;
  display: block;
}
.ichi {
  position: relative;
}

/* @media (max-width: 480px) {
  .media-ul {
    width: 93vw;
    overflow: hidden;
    position: relative;
    border: 2px solid #44bef1;
    background-color: #ffffff;
    z-index: 100;
    display: none;
    top: -10px;
  }
}
@media (max-width: 365px) {
  .media-ul {
    width: 92vw;
    overflow: hidden;
    position: relative;
    border: 2px solid #44bef1;
    background-color: #ffffff;
    z-index: 100;
    display: none;
    top: -10px;
  }
} */

.asd-block {
  position: relative;

  top: 15px;
}

@media (max-width: 321px) {
  .media-navbar {
    z-index: 3483 !important;
  }
}
.menu2 ul li {
  position: relative;
  left: 0px;
}
@media (max-width:1882px) {
  .menu2 ul {
    position: absolute;
    width: 150px !important;
    left:-1.4vw !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -15px;
  }
  .div1 {
    position: absolute;
    width: 120px;
    height: 92px;
    top: 100px;
    left: 30%;
display: none;
  position: fixed ;
  }

}
@media (max-width:1810px) {
  .div1 {
    position: absolute;
    width: 120px;
    height: 92px;
    top: 90px !important;
    left: 30%;
display: none;
  position: fixed ;
  }
}
@media (max-width:1810px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:-1.2vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      }
      .div1 {
        position: absolute;
        width: 120px;
        height: 92px;
        top: 130px;
        left: 30%;
        display: none;
        position: fixed;
      }
}
@media (max-width:1784px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:-1.0vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      }
}
@media (max-width:1762px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:-0.8vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      }
}
@media (max-width:1732px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:-0.5vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      }
}
@media (max-width:1695px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:-0.1vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      }
}
@media (max-width:1640px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:0.3vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      }
}
@media (max-width:1593px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:0.5vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      }
}
@media (max-width:1573px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:0.7vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      }
      .div1 {
        position: absolute;
        width: 120px;
        height: 92px;
        top: 130px;
        left: 32%;
        display: none;
        position: fixed;
      }
}
@media (max-width:1556px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:0.9vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      }
}
@media (max-width:1533px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:1.1vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      }
}
@media (max-width:1508px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:1.4vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      }
}
@media (max-width:1487px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:1.6vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      }
}
@media (max-width:1457px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:1.8vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      }
}
@media (max-width:1439px) {
    .navbar-ul ul {
        display: flex;
        gap: 40px;
        margin-left: 9vw;
        align-items: center;
      }
      .sahifa-glav {
        display: flex;
        padding: 10px 0;
        position: relative;
        left: 10vw !important; 
    }
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:6.6vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
        display: none;
      }
      .menu ul{
        display: none;
      }
}
@media (max-width:1413px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:6.8vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      }
}
@media (max-width:1399px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:7vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      }
}
@media (max-width:1375px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:7.5vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      }
}

@media (max-width:1345px) {
    .navbar-ul ul {
        display: flex;
        gap: 40px;
        margin-left: 6vw;
        align-items: center;
      }
      .sahifa-glav {
        display: flex;
        padding: 10px 0;
        position: relative;
        left: 8vw !important; 
    }
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:11vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
        display: none;
      }
      .menu ul{
        display: none;
      }
}
@media (max-width:1301px) {
    .navbar-ul ul {
        display: flex;
        gap: 40px;
        margin-left: 3.2vw;
        align-items: center;
      }
      .sahifa-glav {
        display: flex;
        padding: 10px 0;
        position: relative;
        left: 5vw !important; 
    }
    .div1 {
        position: absolute;
        width: 120px;
        height: 92px;
        top: 130px;
        left: 26%;
        display: none;
        position: fixed;
      }
      .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:14vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
        display: none;
      }
      .menu ul{
        display: none;
      }
}
@media (max-width:1281px) {
    .navbar-ul ul {
        display: flex;
        gap: 40px;
        margin-left: 1.4vw;
        align-items: center;
      }
      .sahifa-glav {
        display: flex;
        padding: 10px 0;
        position: relative;
        left: 3vw !important; 
    }
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:16vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
        display: none;
      }
      .menu ul{
        display: none;
      }
}
@media (max-width:1274px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:16.3vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      }
}

@media (max-width:1242px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:16.6vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      }
}
@media (max-width:1222px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:16.9vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      }
}
@media (max-width:1201px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:17.4vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      } 
}
@media (max-width:1175px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:17.7vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      } 
}
@media (max-width:1151px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:18vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      } 
}
@media (max-width:1137px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:18.4vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      } 
}
@media (max-width:1106px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:18.8vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      } 
      .div1 {
        position: absolute;
        width: 120px;
        height: 92px;
        top: 130px;
        left: 28%;
        display: none;
        position: fixed;
      }
}
@media (max-width:1096px) {
    .menu2 ul {
        position: absolute;
        width: 150px !important;
        left:19vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -15px;
      } 
}
@media (max-width:1084px) {
    .menu ul {
        position: absolute;
        width: 180px;
        top: 52px;
        left: -50px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        display: none;
        border: 1px solid rgb(218, 211, 211);
        transition: 0.4s;
      }

    .menu2 p span {
        position: relative;
        top: 7px;
      left: 110%;
      }
      .navbbar-line-hr {
        width: 120%;
        height: 1px;
        background-color: #d8dbdf;
        position: relative;
        right: 33px;
      }
      .menu li a {
        display: block;
        font-size: 11px !important;
        padding: 6px   0px;
        font-size: 14px;
        text-decoration: none;
        box-sizing: border-box;
        transform: 0.4s;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
        color: #333333;
        text-decoration: none;
        background-color: transparent;
        position: relative;
        left: 20px;
      }
      .menu2 a {
        padding-left: 20px;
        transform: 0.4s;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
        color: #333333;
        position: relative;
        left: -40%;
        text-decoration: none;
        background-color: transparent;
      
        font-size: 11px !important;
      }
      .menu2 p {
        width: 100%;
        /* height: 50px; */
      
        padding-top: 0px;
      }
      .menu2 ul {
        position: absolute;
        width: 120px !important;
        left:13vw !important;
        transition: 0.4s;
        margin-top: 14px !important;
        background: #ffffff;
        list-style: none;
        text-align: left;
        transform: all 3s;
        top: -10px;
      } 
      #ded1{
        position: relative;
        left: -40px !important;
      }
      #ded{
        position: relative;
        left: -40px !important;
      }
      .navbbar-line-hr1 {
        width: 138%;
        height: 1px;
        background-color: #d8dbdf;
        position: relative;
        right: 33px;
      }
      .div1 {
        position: absolute;
        width: 120px;
        height: 92px;
        top: 100px;
        left: 25%;
        display: none;
        position: fixed;
      }
}
@media (max-width:1047px) {
  .menu2 ul {
    position: absolute;
    width: 120px !important;
    left:13.4vw !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -10px;
  } 
}
@media (max-width:1035px) {
  .menu{
    position: relative;
    top: -3px;
  }
  .menu ul {
    position: absolute;
    width: 180px;
    top: 41px;
    left: -50px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    display: none;
    border: 1px solid rgb(218, 211, 211);
    transition: 0.4s;

  }
  .menu2 ul {
    position: absolute;
    width: 120px !important;
    left:13.4vw !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -10px;
  } 
  .div1 {
    position: absolute;
    width: 120px;
    height: 92px;
    top: 90px;
    left: 25%;
display: none;
position: fixed;
  }
}
@media (max-width:1016px) {
  .menu2 ul {
    position: absolute;
    width: 120px !important;
    left:13.8vw !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -10px;
  } 
}
@media (max-width:987px) {
  .menu2 ul {
    position: absolute;
    width: 120px !important;
    left:14vw !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -10px;
  } 
}
@media (max-width:975px) {
  .menu2 ul {
    position: absolute;
    width: 120px !important;
    left:14.5vw !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -10px;
  } 
}
@media (max-width:952px) {
  .menu2 ul {
    position: absolute;
    width: 120px !important;
    left:14.8vw !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -10px;
  } 
}
@media (max-width:926px) {
  .menu2 ul {
    position: absolute;
    width: 120px !important;
    left:15.3vw !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -10px;
  } 
}
@media (max-width:898px) {
  .menu2 ul {
    position: absolute;
    width: 120px !important;
    left:15.8vw !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -10px;
  } 
}
@media (max-width:878px) {
  .menu2 ul {
    position: absolute;
    width: 120px !important;
    left:16vw !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -10px;
  } 
}
@media (max-width:866px) {
  .menu2 ul {
    position: absolute;
    width: 120px !important;
    left:16.3vw !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -10px;
  } 
}
@media (max-width:851px) {
  .menu2 ul {
    position: absolute;
    width: 120px !important;
    left:16.6vw !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -10px;
  } 
}
@media (max-width:836px) {
  .menu2 ul {
    position: absolute;
    width: 120px !important;
    left:16.9vw !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -10px;
  } 
}
@media (max-width:822px) {
  .menu2 ul {
    position: absolute;
    width: 120px !important;
    left:17.2vw !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -10px;
  } 
}
@media (max-width:954px) {
  .moto-menu-item a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    transition: 0.4s;
    font-size: 12px;
  }
  .sahifa-glav {
    display: flex;
    padding: 10px 0;
    position: relative;
    left: 4vw !important; 
}
.menu p {
  display: flex;
  font-size: 12px !important;
  gap: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
 top: 4px;
}
.menu p span {
  position: relative;
  top: 2px !important;
}
}
@media (max-width:806px) {
  .menu2 ul {
    position: absolute;
    width: 120px !important;
    left:17.5vw !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -10px;
  } 
}
@media (max-width:804px) {
  .menu2 ul {
    position: absolute;
    width: 120px !important;
    left:17.8vw !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -10px;
  } 
}
@media (max-width:788px) {
  .menu2 ul {
    position: absolute;
    width: 120px !important;
    left:18.2vw !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -10px;
  } 
}
@media (max-width:1263px) {
  .menu2 ul {
    position: absolute;
margin-left: 1.2vw !important;

    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -15px;
  } 
  .div1 {
    position: absolute;
    width: 120px;
    height: 92px;
    top: 120px;
    position: fixed;
display: none;
  }
}
@media (max-width:1085px) {
  .div1 {
    position: absolute;
    width: 120px;
    height: 92px;
    top: 100px;
  left: 20%;
display: none;
position: fixed;
  }
  .menu2 ul {
    position: absolute;
margin-left: 1.2vw !important;

    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -10px;
  } 
}
.navbar-tepaga-krug{
  position: absolute;
  width: 40px;
  height: 40px;
  background: #44bef1;
  top: 0;
}

@media (max-width:1670px) {
  .div1 {
    position: absolute;
    width: 120px;
    height: 92px;
    top: 100px;
    left: 31%;
display: none;
  position: fixed;
  } 
}
/* @media (max-width:1881px) {
  .div1 {
    position: absolute;
    width: 120px;
    height: 92px;
    top: 100px;
    left: 31%;
  background-color: red;
  position: fixed;
  } 
  .menu2 ul {
    position: absolute;
    width: 150px !important;
    left: -15% !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -15px;
  }
}
@media (max-width:1867px) {
  .menu2 ul {
    position: absolute;
    width: 150px !important;
    left: -14% !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -15px;
  }
}
@media (max-width:1839px) {
  .menu2 ul {
    position: absolute;
    width: 150px !important;
    left: -12% !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -15px;
  }
}
@media (max-width:1814px) {
  .menu2 ul {
    position: absolute;
    width: 150px !important;
    left: -10% !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -15px;
  }
}
@media (max-width:1780px) {
  .menu2 ul {
    position: absolute;
    width: 150px !important;
    left: -8% !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -15px;
  }
}
@media (max-width:1761px) {
  .menu2 ul {
    position: absolute;
    width: 150px !important;
    left: -7% !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -15px;
  }
}
@media (max-width:1736px) {
  .menu2 ul {
    position: absolute;
    width: 150px !important;
    left: -6% !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -15px;
  }
}
@media (max-width:1732px) {
  .menu2 ul {
    position: absolute;
    width: 150px !important;
    left: -4% !important;
    transition: 0.4s;
    margin-top: 14px !important;
    background: #ffffff;
    list-style: none;
    text-align: left;
    transform: all 3s;
    top: -15px;
  }
} */
@media (max-width:1086px) {
  .div1 {
    position: absolute;
    width: 120px;
    height: 92px;
    top: 80px;
    left: 20%;
display: none;
  position: fixed;
  } 
}
.checkbox-con {
  margin: 10px;
  display: flex;
  align-items: center;
  color: white;
  margin: auto;
  position: relative;
  left: 38vw;
 }
 @media (max-width:1789px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 36vw;
   }
 }
 @media (max-width:1720px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 34vw;
   }
 }
 @media (max-width:1657px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 32vw;
   }
 }
 @media (max-width:1593px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 30vw;
   }
 }
 @media (max-width:1536px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 28vw;
   }
 }
 @media (max-width:1484px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 26vw;
   }
 }
 @media (max-width:1184px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 24vw;
   }
 }
 @media (max-width:1142px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 22vw;
   }
 }
 @media (max-width:1114px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 20vw;
   }
 }
 @media (max-width:1088px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 18vw;
   }
 }
 @media (max-width:1060px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 16vw;
   }
 }
 @media (max-width:1032px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 14vw;
   }
 }
 @media (max-width:1008px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 13vw;
   }
 }
 @media (max-width:996px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 12vw;
   }
 }
 @media (max-width:984px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 11vw;
   }
 }
 @media (max-width:974px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 10vw;
   }
 }
 @media (max-width:964px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 9vw;
   }
 }
 @media (max-width:954px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 19vw;
   }
 }
 @media (max-width:920px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 17vw;
   }
 }
 @media (max-width:900px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 16vw;
   }
  
 }

 @media (max-width:888px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 14vw;
   }
 }
 @media (max-width:868px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 12vw;
   }
 }

 @media (max-width:848px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 10vw;
   }
 }
 @media (max-width:828px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 9vw;
   }
 }
 @media (max-width:822px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 6vw;
   }
 }
 @media (max-width:794px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 4vw;
   }
 }
 @media (max-width:774px) {
  .checkbox-con {
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    margin: auto;
    position: relative;
    left: 2vw;
   }
 }
 .checkbox-con input[type="checkbox"] {
  appearance: none;
  width: 64px;
  height: 35px;
  border: 2px solid #44bef1;
  border-radius: 20px;
  background: white;
  position: relative;
  box-sizing: border-box;
 }
 
 .checkbox-con input[type="checkbox"]::before {
  content: "";
  width: 24px;
  height: 24px;
  border: 2px solid #44bef1;
  background: #44bef1;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(13%, 15%);
  transition: all 0.3s ease-in-out;
 }
 
 .checkbox-con input[type="checkbox"]::after {
 content:"ru";
  position: absolute;
  top: 4px;
  font-size: 15px;
  left: 35px;
  color: black;
 }
 
 .checkbox-con input[type="checkbox"]:checked {
  border: 2px solid #44bef1;
  background: white;
 }
 
 .checkbox-con input[type="checkbox"]:checked::before {
  background: #44bef1;
  border: 2px solid #44bef1;
  transform: translate(133%, 13%);
  transition: all 0.3s ease-in-out;
 }
 
 .checkbox-con input[type="checkbox"]:checked::after {
  content: "eng";
  position: absolute;
  font-size: 15px;
  top: 4px;
  left: 4px;
  color: black;
 }
 
 .checkbox-con label {
  margin-left: 10px;
  cursor: pointer;
  user-select: none;
 }
 

