.newspage{
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
}
.newspage_cards{
    display: block;
    margin-left: 20px;
    color: black;
    width: 700px;
}
.newspage_cards img{
    width: 100%;
    margin-bottom: 25px;
}
.newspage1 .mb-3, .my-3{
    width: 25%;
}
.newspage_cards a{
    color: black !important;
}
.newspage_p{
    width: 35%;
    padding: 15px;
}
.newspage_p p{
    line-height: 28px;
font-size: 19px;
}