*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.gray_navbar{
    padding: 100px 0px 0px 8.594vw;
    background: var(--background, #F1F2F6);
}
.course_inp{
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    gap: 40px;
}
.course_inp h1{
    color: var(--black, #2E2E2E);
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.course_inp .df_inp{
    width: 369px;
height: 40px;
display: flex;
align-items: center;
border-radius: 4px;
background: var(--white, #FFF);
}
.df_inp input{
    width: 88%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 18px;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
border-radius: 4px;
}
.df_inp input::placeholder{
    color: var(--seriy, #9DA7BB);
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.df_inp i{
    width: 12%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: var(--seriy, #9DA7BB);
}

    @media (max-width:1350px) {
        .gray_navbar{   
            padding: 100px 0px 0px 3.646vw;
        }
        .nav_menu{
            gap: 30px !important;
        }
        .nav_item{
            font-size: 17px !important;
        }
    }
@media (max-width:1000px) {
    .gray_navbar{
        padding: 100px 20px 0px 20px;
        padding-left: 20px;
    }
    .course_inp{
        margin: auto !important;
        flex-wrap: wrap;
        margin-bottom: 30px !important;
        gap: 20px;
    }
}
@media (max-width:400px) {
    .course_inp h1{
        font-size: 30px;
    }
}



.nav_menu{
    display: flex;
    margin-bottom: 0px !important;
    gap: 40px;
    padding-left: 0px !important;
}
.nav_item{
    min-height: 33px;
    padding-left: 0px !important;
    list-style: none;
    color: var(--seriy, #9DA7BB);
    text-align: center;
    font-family: SF Pro Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.nav_item:hover{
    color: var(--black, #2E2E2E);
    border-bottom: 2px solid blue;
}
.burger{
    display: none !important;
}
.burger_media{
    display: none !important;
}
@media (max-width:1000px) {
    .nav_menu{
        display: none;
    }
    .burger{
        display: block !important;
        margin-left: auto;
        width: 35px;
        height: 35px;
        display: flex;
        border-radius: 50%;
        border: 2px solid #818b9f;
        background-color: #babfc9;
    }
    .gray_navbar{
        padding-bottom: 20px;
    }
    .bar{
        display: block;
        font-size: 20px;
        color: white;
        margin: 5px auto;
    }
    .bar_clone{
        font-size: 20px;
        color: white;
        display: none;
        margin: 5px auto;
    }
    .burger_media{
        padding-top: 30px;
        display: flex ;
        padding-left: 0;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
    }
    .burger_media_div{
        width: 200px;
    }
    .burger_media_big_div{
        padding-left: 0;
        width: 80%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: auto;

    }
    .nav_ul{
        display: none !important;
    }
    .bottom_line{
        display: none !important;
    }
    .block_item{
        min-height: 33px;
        padding-left: 0px !important;
        list-style: none;
        color: var(--seriy, #9DA7BB);
        font-family: SF Pro Display;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .block_item:hover{
        color: var(--black, #2E2E2E);
        border-bottom: 2px solid blue;
    }
    .curs{
        padding-top: 20px;
    }
    .bottom_ul{
        width: 95%;
        padding-inline: 3.646vw;
        margin: auto;
    }
    
}



.curs{
    background-color: white;
}
.nav_ul{
    padding-top: 40px;
    margin-inline: 8.594vw;
}
.bottom_ul{
    display: flex;
    gap: 2.604vw;
    flex-wrap: wrap;
    min-height: 31px;
    
    padding-left: 0px !important;
    margin-bottom: 0px !important;
}
.bottom_ul .bottom_li{
    color: var(--seriy, #9DA7BB);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-bottom: 10px;
        list-style: none;
}
.bottom_ul .bottom_li:hover{
    border-bottom: 2px solid blue;
}
.bottom_line{
    width: 100%;
    height: 1px;
    opacity: 0.4000000059604645;
        background: #9DA7BB;
}
.curs_cards{
    padding: 30px 8.594vw;
    background-color: white;
}
.curs_filter{
    width: 82px;
        height: 34px;
        flex-shrink: 0;
        border-radius: 4px;
        background-color: white;
        border: 1px solid var(--seriy, #9DA7BB);
        margin-bottom: 10px;
        
color: var(--black, #2E2E2E);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.curs_filter i{
    color: var(--seriy, #9DA7BB);
}
.togl{
    position: absolute;
    display: flex !important;
    flex-wrap: wrap;
    gap: 50px;
    padding: 17px 0px 18px 24px;
}
.filter_card{
    width: 458px;
        height: auto;
    border-radius: 4px;
        border: 1px solid var(--background, #F1F2F6);
        background: var(--white, #FFF);
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    display: none;
    z-index: 1;
    transition: all 0.2s ease;
    position: absolute;
    flex-wrap: wrap;
    gap: 50px;
    padding: 17px 0px 18px 24px;
}
@media (max-width:500px) {
    .togl{
        padding: 17px 34px;
        width: 92%;
        gap: 20px;
    }
}
@media (max-width:1350px) {
    .nav_ul{   
        margin: 0px 0px 0px 3.646vw;
    }
    .nav_ul{
        display: block;
    }
    
    .curs_cards{
        padding: 30px 0px 0px 3.646vw; 
    }
}
    
/* .filter_card{
    display: flex;
    
} */
.filter_padding h5{
    margin-bottom: 10px;
    color: var(--black, #2E2E2E);
font-family: SF Pro Display;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.filter_padding p{
    display: flex;
    margin-bottom: 11px;
    gap: 10px;
    align-items: center;
    color: var(--seriy, #9DA7BB);
font-family: SF Pro Display;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.filter_padding p:hover{
    color: black;
}
.filter_padding p .filter_star{
    color: rgba(255, 212, 1, 1);
}
.none_star{
    color: rgba(157, 167, 187, 1);
}












.filter_kurs {
    width: 81%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
    margin-top: 5%;
    position: relative;
}

.filter_course {
    position: relative;
    width: 350px;
    height: auto;
    border-radius: 5px;
    background: var(--white, #FFF);
    /* blue shadow 2 */
    box-shadow: 0px 4px 20px 0px rgba(1, 102, 144, 0.10);
    transition: all 0.2s;
}

.filter_course:hover {
    cursor: pointer;
}
.nav_item{
    cursor: pointer;
}
.block_item{
    cursor: pointer;
}
.filter_course h4 {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.star_card {
    margin-top: 20px;
    display: flex;
    gap: 3px;
}

.star_card .star_i {
    cursor: pointer;
    font-size: 14px;
    color: rgba(255, 212, 1, 1);
}

.star_card .star_ib {
    cursor: pointer;
    font-size: 14px;
    color: rgba(157, 167, 187, 1);
}

.star_card p {
    color: black;
    margin-top: 1px;
    font-size: 14px;
    font-weight: 600;
}

.star_card p span {
    font-weight: 400;
    color: var(--seriy, #9DA7BB);
}

.hajm {
    display: flex;
    gap: 32px;
    margin-bottom: 0px;
}

.hajm p {
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 600;
    color: var(--seriy, #9DA7BB);
}

.hajm h5 {
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.button_circle {
    position: absolute;
    width: 35px;
    height: 35px;
    border: 1px solid #44bef1;
    border-radius: 50%;
    background: white;
    color: #44bef1;
    right: 32px;
    bottom: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: all 0.3s;
}
.button_circle:hover {
    border: 1px solid #44bef1;
    background: #44bef1;
    color: white;
}
/* @media (max-width:700px) {
    .win_men {
        display: none !important;
    }
    .button_circle {
        position: absolute;
        width: 35px;
        height: 35px;
        border: 1px solid #44bef1;
        border-radius: 50%;
        background: white;
        color: #44bef1;
        right: 32px;
        top: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        transition: all 0.3s;
    }
}*/
@media (max-width:370px) {
    .filter_course{
        width: 100%;
    }
    .filter_course img{
        width: 100%;
    }
    .filter_course h4{
        width: 100%;
        font-size: 12px;
    }
    .filter_course h5{
        font-size: 13px;
    }
    .hajm p{
        font-size: 10px;
    }
    
    .button_circle{
        width: 35px;
        height: 35px;
        font-size: 17px;
    }
    .star_card{
        margin-top: 20px;
    }
}
 .filter_course img{
        width: 100%;
        height: 300px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .filter_course:hover{
        cursor: pointer;
        box-shadow: 0px 12px 45px 0px rgba(83, 109, 253, 0.25);
    }
@media (max-width:330px) {
    .hajm{
        width: 90%;
    }
    .hajm h5{
        font-size: 13px;
    }
    
}
.filter_card_padding{
    padding: 10px 20px 20px 20px;
}
@media (max-width:700px) {
    .edit_icon{
        width: 32px;
        height: 32px;
        font-size: 15px;
        right: 20px;
        bottom: 70px;
    }
    .delete_icon{
        width: 32px;
        height: 32px;
        font-size: 15px;
        right: 20px;
        bottom: 110px;
    }
    .button_circle{
        width: 32px;
        height: 32px;
        font-size: 15px;
        right: 20px;
        bottom: 12px;
    }
}


.curs_filter{
    width: 200px;
    height: 35px;
    font-size: 18px;
}
@media (max-width:400px) {
    .curs_filter{
        width: 100%;
        margin-left: 0 !important;
        height: 35px;
        font-size: 20px;
    } 
    .curs_cards{
        padding: 25px;
    }
    .togl {
        padding: 17px 34px;
        width: 92%;
        position: absolute;
        margin-left: -10px;
        gap: 20px;
    }
}

