* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header66 {
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.ikki23 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin-bottom: 80px;
}
.left-img33{
    width: 73%;
    display: flex;
    flex-wrap: wrap;
    min-height: 1050px;
}
.right-text {
    flex-wrap: wrap;
    margin-top: 9px;
}
.cards23 {
    width: 289px;
    height: 35%;
    margin: 25px;
}
.cards23 img {
    width: 100%;
    border-radius: 5px;     
}
.cards23 h5 {
    color: #4d4d4d;
    font-weight: 500;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #4d4d4d;
    padding-bottom: 10px;
}
.cards23 p {
    font-weight: 300;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    color: #4d4d4d;
    font-size: 15px;
    /* line-height: 1.6; */
    height: 110px;
    letter-spacing: 0px;
}
.cards23 a {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}
.cards23 h1 {
    margin-bottom: 10px;
}
.abouts23 .sm {
    color: #bababa;
    font-weight: 700;
    font-style: normal;
    border-bottom: 1px solid #bababa;
    padding-bottom: 10px;
    font-size: 13px;
    margin-top: 10px;
    transition: 0.3s ease;
    cursor: pointer;
}
.abouts23 .sm:hover {
    color: #6b3d0c;
}
.cards23 { 
    width: 300px;
    height: 350px;

    color: white;
    border-radius: 5px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-right: 20px;
    margin-top: 30px;
}
.cards23 h1 {
    font-weight: 700;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 2.2;
    letter-spacing: 0px;
}
.cards23 button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    background: transparent;
    border: 2px solid white;
    border-radius: 4px;
    text-align: center;
    width: 125px;
    height: 45px;
    font-size: 17px;
    transition: .3s;
}
.cards23 button:hover {
    background: white;
    color: #17aeee;
}
.cards23 p {
    font-weight: 300;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0px;
    padding-top: 10px;
    margin-bottom: 35px;
}
@media(max-width:950px) {
    .header66 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 10px;
    }
    .cards23 h1 a{
        margin-bottom: 10px;
        font-size: 28px;
        color: #000000;
        font-weight: 700;
        font-style: normal;
    }
    .left-img {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: 10%;
        padding-right: 5%;
    }
    .right-text {
        flex-wrap: wrap;
        margin-left: 4%;
        margin-top: 19px;
    }
    .cards23 { 
        width: 289px;
        height: 230px;
        
        color: white;
        border-radius: 5px;
        padding-bottom: 9px;
        padding-left: 5px;
        padding-right: 20px;
        margin-top: 30px;
    }
    .cards23 {
        width: 289px;
        height: 290px;
        margin-bottom: 20%;
    }
    
    .cards23 h5 {
        color: #4d4d4d;
        font-weight: 500;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        line-height: 1.2;
        letter-spacing: 0px;
        margin-bottom: 10px;
        border-bottom: 1px solid #4d4d4d;
        padding-bottom: 10px;
    }
    /* .bx {
        border-radius: 50px;
        cursor: pointer;
        margin-right: 20px;
        transition: .3s ease;
        font-size: 10px;
    } */
    .cards23 p {
        font-weight: 300;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
        color: #4d4d4d;
        font-size: 10px;
        line-height: 1.6;
        letter-spacing: 0px;
    }


    .cards23 p {
        font-weight: 300;
        font-style: normal;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        line-height: 1.6;
        letter-spacing: 0px;
        padding-top: 10px;
        margin-bottom: 55px;
    }
    .cards23 button {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #ffffff;
        background: transparent;
        border: 2px solid white;
        border-radius: 4px;
        text-align: center;
        width: 110px;
        height: 40px;
        font-size: 17px;
        transition: .3s;
    }
    .bx {
        cursor: pointer;
        transition: .3s ease;
        background: transparent;
        display: flex;
        font-size: 13px;
    }
    .dumalo12:hover {
        background: #6b3d0c;
        color: white;
        border: none;
    }
    .icon223{
        display: flex;
    }
    .dumalo12{
        width: 10px;
        height: 10px;
        display: flex !important;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid #6b3d0c;
        /* margin: 5px; */
        transition: 0.5s;
    }
    .two21 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }
}

.two21 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.bx {
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
    background: transparent;
    font-size: 15px;
    display: flex;
}
.dumalo12:hover {
    background: #6b3d0c;
    color: white;
    border: none;
}
.view12 h4 {
    transition: .3s ease;
    font-family: 'Roboto', sans-serif;
    /* font-weight: 900; */
    font-style: normal;
    color: #323946;
    cursor: pointer;
}
.view12 h4:hover {
    color: #6b3d0c;
}

.two12 h4 {
    font-family: 'Roboto', sans-serif;
    /* font-weight: 500; */
    font-style: normal;
    color: #323946;
    font-size: 15px;
}
.dumalo12{
    width: 25px;
    height: 25px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #6b3d0c;
    margin: 5px;
    transition: 0.5s;
}
.icon223{
    display: flex;
}
.two21 i{
    color: black;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.two21 i:hover{
    color: white;
}
@media (max-width:529px) {
    .services_div .images{
        margin-top: 0px !important;
    
    }
    .ourteamm .futer{
        padding-top: 0px !important;
        margin-top: 0px !important;
    }
}
