.gray_blok {
    height: 120px;
    width: 100%;
    background-color: #f1f2f6;
    display: flex;
    justify-content: center;
    align-items: center;

}



.Filter {
    width: 100%;
    align-items: center !important;
}

.blur_blok {
    width: 80% !important;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    position: relative;
}

.inp_blok input {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    padding-left: 20px;
    border: none;
    background-color: #e2e2e2;
}

.inp_blok {
    width: 450px;
    display: flex;
    position: relative;
    border-radius: 5px;
    justify-content: space-around;

}

.search {
    font-size: 25px;
    position: absolute;
    right: 30px;
    top: 10px;
}

.icon_blok {
    width: 200px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.sel_blok {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid rgba(128, 128, 128, 0.438);
    display: flex;
    justify-content: space-around;
    align-items: center !important;
}

.sel_blok h4 {
    font-size: 15px;
    font-weight: 500;
    align-items: center !important;
    margin-top: 5px;

}

.menyu {
    font-size: 20px !important;
}

.window {
    font-size: 30px;
    color: rgba(131, 131, 131, 0.801);
}

.manu {
    font-size: 30px;
    color: rgba(131, 131, 131, 0.801);
}

/* .win_men {
    display: flex;
    justify-content: space-around;
} */

.fil_text_blok {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 3% !important;
    margin-top: 85px;
}

.fil_text_blok_soz {
    position: relative;
}

.fil_text_blok h1 {
    font-size: 17px;
    cursor: pointer;
    line-height: 40px;
}

/* .fromLeft:after {
    padding-bottom: 20px;
    display: block;
    content: '';
    border-bottom: solid 3px #44bef1;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.fromLeft.fromLeft:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
} */

.fromLeft:hover {
    border-bottom: 2px solid #44bef1;
}



.nav-link {
    color: black !important;
    font-size: 17px !important;
}

.nav-link:hover {
    border-bottom: 2px solid blue !important;
}

.nav-underline {
    width: 50% !important;
    display: flex;
    margin-left: 8%;
    justify-content: space-around !important;
}

.fil_text_blok_kurs_lenght {
    width: auto;
    position: absolute;
    padding: 5px;
    top: -30px;
    right: -50px;
    border: 2px solid #9DA7BB4D;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 10px;
    color:#44bef1 !important;
}



.werker {
    text-align: center !important;
    font-size: 15px !important;
    width: 100% !important;
}

@media (max-width:423px) {
    #eadi {
        width: 270px;
    }

    .text_blok {
        width: 250px !important;
    }

    .star_icon_blok {
        width: 180px !important;
        margin-left: 5%;
    }

    .bolim_blok p {
        font-size: 12px !important;
    }

    .bolim_blok {
        width: 100%;
        margin: auto;
        align-items: center;
    }

    .soat {
        font-size: 120px !important;
    }

    .left_icon {
        width: 50px !important;
        height: 50px !important;
        border-radius: 50px;
        font-size: 20px;
        color: #44bef1;
        border: 1px solid gray;
        text-align: center;
        align-items: center !important;
        padding-top: 10%;
    }
}

@media (max-width:406px) {
    .bolim_blok {
        width: 80% !important;
        margin-top: 15px;
    }
}

@media (max-width:404px) {
    .bolim_blok {
        width: 90% !important;
    }

    .cali {
        width: 100% !important;
    }


}

@media (max-width:860px) {
    .inp_blok {
        width: 300px;
    }
}

@media (max-width:642px) {
    .blur_blok {
        width: 100% !important;
        flex-direction: column;
        margin: auto !important;
    }

    .icon_blok {
        margin: 30px auto;

    }

    .inp_blok {
        margin: auto;
        margin-top: 50px;
    }
}

@media (max-width:700px) {
    .nav-underline {
        margin: auto;
    }
}

@media (max-width:345px) {
    .inp_blok {
        width: 270px !important;
    }
}

.znani {
    text-align: center;
    font-size: 15px !important;
}


.Nav.Link3 {
    color: red !important;
}

.show-content {
    display: block;
}

.content {
    display: none;
}

.calibig {

    padding: 20px;
}

.blur {
    position: relative;
}

.cali_df {
    width: 82% !important;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px !important;
    margin-top: 5%;

    gap: 20px;
}

.filter_button {
    width: 250px;
    overflow-y: scroll;
    margin-bottom: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 150px;
    margin-top: 20px;
    position: absolute;
    right: 30%;
    top: 120% !important;
    color: black;
    --g: 4px;
    /* the gap */
    --b: 5px;
    /* border thickness*/
    border: 1px solid #9DA7BB;
    /* the color */
    padding: calc(var(--g) + var(--b));
    --_g1: repeating-linear-gradient(90deg, var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg, var(--_c)) repeat-y;
    background:
        var(--_g1) var(--_p, 25%) 0, var(--_g2) 0 var(--_p, 125%),
        var(--_g1) var(--_p, 125%) 100%, var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b), var(--b) 200%;
    cursor: pointer;

    transition: .3s;
    display: none;
    position: absolute;
    border-radius: 5px;

}

.button_kurs {
    border: none;
    outline: none;
    width: 90%;
    margin-top: 10px;
    border-bottom: 2px solid #44bef1;
    color: #44bef1;

}

.div_kurs {
    width: 90%;
    border-bottom: 1px solid #9DA7BB;
    margin: 15px auto;
}

.filter {
    display: block ;
}

.filter_button:hover {
    --_p: 75%;
    filter: grayscale(0%);
}

.filter_button {
    z-index: 999;
    background-color: #fff;
}

@media (max-width:392px) {
    .filter_button {
        position: absolute;
        left: 15%;
        top: 55% !important;
    }
}

.cali {
    width: 350px;
    height: 420px;
    box-shadow: 2px 2px 10px gray;
    border-radius: 5px;
    margin-top: 30px;
}

.cali img {
    width: 100%;
}

.text_blok {
    width: 300px;
    height: 80px;
    margin-top: 10px !important;

    margin: auto;

}

.text_blok h3 {
    font-size: 20px !important;

}

.gold {
    color: gold;
}

.star_icon_blok {
    width: 200px;
    margin-top: 7%;
    display: flex;
    justify-content: space-around;
}

.bolim_blok {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding-top: 5%;

}

.kurs_hajmi p {
    font-weight: 700;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.61);
}

.kurs_hajmi h3 {
    font-size: 20px !important;
    margin-top: -10px !important;
    font-weight: 700 !important;

}

.kurs_bolimlari p {
    font-weight: 700;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.61);
}

.kurs_bolimlari h3 {
    font-size: 20px !important;
    font-weight: 700;
    margin-top: -10px !important;
}

.left_icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 25px;
    color: #44bef1;
    border: 1px solid gray;
    text-align: center;
    align-items: center !important;
    padding-top: 1px !important;
    margin-top: -2px !important;
}

.left_icon:hover {
    background-color: #44bef1;
    color: #fff !important;
}

.zero_blok {
    width: 300px;
    margin: auto;

}

.text_blok h3:hover {
    color: #44bef1;
    cursor: pointer;
}

.cali1 {
    width: 350px;
    height: 420px !important;
    border: 3px dashed #9DA7BB;
    border-radius: 4px;
    margin-top: 30px;

}

.plus_blok {
    text-align: center !important;
    margin-top: 50%;
    color: rgba(0, 0, 0, 0.582);
}

.plus_icon {
    font-size: 40px !important;

}

.point_blok {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin-top: 5% !important;
    margin: auto;
}

.profil_blok_menu {
    display: none !important;
}

.profil_blok_menu_clone {
    display: none;
}

.nuqta {
    font-size: 20px;
    color: #44bef1;
}

.profil_modal_media {
    display: none;
}

.nav {
    width: auto !important;
    flex-wrap: nowrap !important;
}

@media (max-width:368px) {
    .cali {
        width: 300px;


    }

    .text_blok {
        width: 250px;
    }

    .zero_blok {
        width: 250px;
        margin-top: 20px;
    }

    .text_blok h3 {
        width: 250px;
        font-size: 15px;
    }

    .star_icon_blok {
        width: 200px !important;
    }

    .kurs_hajmi p {
        font-size: 12px !important;
    }

    .kurs_hajmi h3 {
        font-size: 17px !important;
    }

    .kurs_bolimlari p {
        font-size: 12px;
    }

    .kurs_bolimlari h3 {
        font-size: 16px !important;
    }

    .left_icon {
        width: 40px;
        height: 40px;
        font-size: 20px;
        margin-top: 10% !important;
    }

    .cali1 {
        width: 300px;

    }

}

@media (max-width:1000px) {
    .fil_text_blok {
        width: 80% !important;
        gap: 2% !important;
    }


    .gray_blok {
        height: 90px;
    }

    .fil_text_blok_kurs_lenght {
        top: -20px;
        right: -35px;
        font-size: 7px;
        border: 1px solid #9DA7BB;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .fil_text_blok {
        margin-top: 58px;
    }

    .fil_text_blok_kurs_lenght {
        padding: 2px;
    }
}


@media (max-width:991px) {
    .fil_text_blok {
        display: none !important;
    }

    .profil_blok_menu {
        display: block !important;
        padding: 10px;
        font-size: 40px;
        color: rgba(255, 255, 255, 0.911);
        margin-right: 5%;
        border: 2px solid #9DA7BB;
        background-color: #cfd5e2;
        border-radius: 50%;
    }

    .profil_blok_menu_clone {
        /* display: block !important; */
        padding: 10px;
        font-size: 40px;
        color: rgba(255, 255, 255, 0.911);
        margin-right: 5%;
        border: 2px solid #9DA7BB;
        background-color: #cfd5e2;
        border-radius: 50%;
    }

    .profil_blok_menu_size {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .gray_blok {
        position: relative;
    }

    .profil_modal_media {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        z-index: 10;
        height: auto;
        background-color: white;
        box-shadow: 0px 1px 2px 0px grey;
        display: none;
    }

    .menu_modal {
        display: block !important;
        position: absolute;
        top: 90px;
    }

    .profil_modal_media h1 {
        width: 100%;
        font-size: 15px;
        padding-top: 15px;
        padding-left: 15px;
    }
    .profil_modal_media h1:hover{
        cursor: pointer;
    }
    .fromMenu:after {
        padding-bottom: 10px;
        display: block;
        width: 170px;
        content: '';
        border-bottom: solid 3px #44bef1;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
    }

    .fromMenu.fromMenu:hover:after {
        transform: scaleX(1);
        transform-origin: 0% 50%;
    }
}

@media (max-width:354px) {
    .text_blok {
        width: 200px;

    }

    .text_blok h3 {
        width: 200px !important;
        font-size: 15px !important;
    }

    .cali {
        overflow: hidden;
    }

    #eadi {
        font-size: 10px !important;

    }
}

@media (max-width:356px) {
    .cali {
        height: 370px !important;
    }

    .cali1 {
        height: 370px !important;
    }
}

@media (max-width:404px) {
    .text_blok {
        padding: 10px;
    }

    .star_icon_blok {
        padding: 10px;
    }

    .bolim_blok {
        padding: 10px;
    }

    #eadi {
        font-size: 10px;

    }

    .cali {
        width: 100% !important;
    }

    .left_icon {
        width: 40px !important;
        height: 40px !important;
        border-radius: 50px;
        font-size: 20px !important;
        color: #44bef1;
        border: 1px solid gray;
        text-align: center;
        align-items: center !important;
        padding-top: 1px !important;
        margin-top: -2px !important;
    }
}