.m_3div_kotta{
    padding: 10px;
    background: #9DA7BB1A;
    display: flex;
    gap: 50px;
}
.m_1chidiv{
    width: 25% ; 
}
.m_input_search{
    display: flex;
    justify-content: center;align-items: center;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    background-color: #fff;
}
.m_input_search input{
    outline: none;
    font-size: 13px;
    padding-left: 10px;
    width: 90%;
    border: none;
}
.m_heshteg
{
    display: flex;
    width: 100%;
    background-color: #fff;
    gap: 10px;
    padding: 10px;
    margin-top: 20px;
}
.m_heshteg2{
    display: flex;
    width: 100%;
    background-color: #fff;
    gap: 10px;
    padding: 10px;
}
.m_little_hsh{
font-size: 13px;
padding: 10px;
background-color: #9DA7BB1A;
color: #9da7bb;
border-radius: 2px;
cursor: pointer;
}
.m_little_hsh:hover{
    background-color: #536DFD;
    color: white;
}
.m_program
{
    background-color: #fff;
    padding: 10px;
}
.m_program h6{
    font-size: 15px;
    margin-top: 10px;
}
.m_program_flex{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
}
.m_program_img img{
    width: 75px;
    height: 75px;
    border-radius: 5px;
}
.m_program_text{
    width: 100%;
}
.m_program_text p{
    width: 70%;
    font-size: 14px;
    font-weight: 501;
    line-height: 15px;
}
.m_program_text span{
    display: block;
    width: 90%;
    font-size: 14px;
    font-weight: 500;
    margin-top: -10px;
}


.m_program_flex hr{
    width: 100%;
    height: 1px;
    border: none;
    background-color: #9da7bb;
}
.m_3chidiv{
        width: 25% ; 
        background-color: #fff;
        padding: 10px;
    }
    
    .m_2chidiv{
        width: 45% ; 
    }


    .m2chi_tex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    .m_glav_img_page{
        width: 100%;
    }
    .m_glav_img_page img{
        width: 100%;
    }
    .m_button_yon button{
        background-color: #fff;
       font-size: 10px;
       width: 100px;
       padding: 5px;
       height: 35px;
       gap: 5px;
       display: flex;
       align-items: center;
       justify-content: center;
       border: none;

    }
    .m_button_yon span{
        color: #9da7bb;
        margin-top: -3px;
    }
    .m_star_flex{
        display: flex;
        align-items: center;
        color: #FFD401;
        gap: 5px;
    }
    .m_grey_star{
        color: #9da7bb;
    }

    .m_2chidiv h5{
        font-size: 18px;
        margin-top: 20px;
    }
    .m_41{
        color: black;
        font-size: 14px;
        margin-top: 3px;
    }
    .m_41 span{
        color: #9da7bb;
    }

    .m_otish_div{
        display: flex;
        align-items: center;
    }
    .m_about_course{
        cursor: pointer;
        width: 220px;
        height: 50px;
        background-color: #fff;
        display: flex;justify-content: center;align-items: center;
    }
    .m_about_comment{
        margin-top: 20px;
    }

    .course_price span{
        font-size: 20px;
        font-weight: 500;
    }
    .course_price1 span{
        font-size: 25px;
        font-weight: 500;
    }
    .m_programmirovan{
        background-color: #1DD1A1;
        color: white;
        width: 150px;
        padding: 5px;
        font-size: 13px;
        margin-top: 20px;
        margin-left: 20px;
        border-radius: 5px;
    }
    .price_course{
        display: flex;align-items: center;
    }
    .course_price p{
        color: #9da7bb;
        margin-top: 50px;
        font-size: 11px;
        line-height: 0px;
    }
    .course_price{
        display: block;
        margin-left: 20px;
        width: 50%;
    }
    .course_price1 p{
        color: #9da7bb;
        margin-top: 50px;
        font-size: 11px;
        line-height: 0px;
    }
    .course_price1{
        display: block;
        margin-left: 20px;
        width: 50%;
    }
    .course_price h2, .course_price1 h2{ 
        font-weight: 550;
    }
    .m_3chidiv h6{
        margin-top: 150px;
        font-size: 15px;
        font-weight: 550;
        margin-left: 20px;
    }
    .m_course_button button{
        width: 70%;
        height: 40px;
        background-color: #536DFD;
        color: white;
        border-radius: 5px;
        border: none;
        margin-top: 30px;
        margin-left: 15%;
    }