.cards_sertifikat {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;

}

@media (max-width:1096px) {
    .card_sertifikat {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.sertifikat_image{
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sertifikat {
    width: 400px;
    overflow: hidden;
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.sertifikat img {
    width: 100%;
}

.card_sertifikat {
    width: 86%;
    display: grid;
    margin-left: 5%;
    grid-template-columns: auto auto auto;
    gap: 30px;
    padding-bottom: 100px;

}

.text_pro_max_gap_sos_lift_gr h4 {
    font-size: 13px;
    padding-top: 10px;
}

.Dast_konter_dust_pro_dest {
    padding-left: 5px;
    padding-right: 5px;
    background-color: #6b3d0c;
    color: #fff;
    align-items: center;
    height: 30px;
    border: none;

    border-radius: 2px;
}

.button_text_df_blok_pitani_pro_Max {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

@media (max-width:1544px) {
    .card_sertifikat {
        width: 80% ;
        display: grid;
        margin-left: -1%;
        grid-template-columns: auto auto;
        gap: 50px;

    }
}


@media (max-width:776px) {
    .card_sertifikat {
        width: 100% ;
        display: grid;
        grid-template-columns: auto;
        gap: 50px;
    }
    .sertifikat{
        width: 100%;
    }
   

}
@media (max-width:501px) {
    .sertifikat{
        width: 80%;
    }
    .card_sertifikat {
        width: 100% !important ;
        display: grid;
        grid-template-columns: auto;
        gap: 50px;
    }
    .button_text_df_blok_pitani_pro_Max{
        width: 95%;
        margin: auto !important;
    }
    .text_pro_max_gap_sos_lift_gr{
        width: 90%;
    }
}
@media (max-width:772px) {
    .card_sertifikat {
        width: 80% ;
        justify-content: center !important;
        margin: auto !important;

    }
}
@media (max-width:393px) {
    .sertifikat{
        width: 60%;
    }
}

@media (max-width:326px) {
    .sertifikat {
        width: 250px;
        height: auto
    }

    .Dast_konter_dust_pro_dest {
        width: 80px;
        font-size: 15px !important;
    }

    .text_pro_max_gap_sos_lift_gr {
        width: 50%;

    }

    .text_pro_max_gap_sos_lift_gr p {
        font-size: 13px;
    }

    .text_pro_max_gap_sos_lift_gr h4 {
        font-size: 14px;
    }
}
@media (max-width:392px) {
    .sertifikat{
        width: 90%;
        margin: auto    ;
    }
}
@media (max-width:351px) {
    .text_pro_max_gap_sos_lift_gr p{
        font-size: 12px;
    }
}
@media (max-width:326px) {
    .text_pro_max_gap_sos_lift_gr{
        width: 90%;
    }
    .Dast_konter_dust_pro_dest{
        width: 70%;
    }
}