* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.right-card {
  margin: 30px;
}
.box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.services_div {
  overflow: hidden;
}
.cards {
  width: 300px;
  margin: 20px;
}
#serviscards {
  width: 300px;
  /* height: 370px; */
  margin: 20px;
}
.cards img {
  height: 100%;
  border-radius: 5px;
}
@media (max-width: 615px) {
  .services_div .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -5px !important;
  }
}
.cards h1 a {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
  transition: 0.5s;
  font-size: 21px;
}
.cards h1 {
  margin-bottom: 10px;
}
.cards h1 a:hover {
  color: #337ab7;
}
.cards p {
  font-weight: 200;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: #4d4d4d;
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0px;
}
.card {
  width: 290px;
  height: 260px;
  background: #17aeee;
  color: white;
  border-radius: 5px;
  padding-bottom: 9px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
}
.card h1 {
  font-weight: 700;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  line-height: 2.2;
  letter-spacing: 0px;
  padding-top: 20px;
}
.card button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  background: transparent;
  border: 2px solid white;
  border-radius: 4px;
  text-align: center;
  width: 125px;
  height: 45px;
  font-size: 17px;
  transition: 0.3s;
  margin-bottom: 10%;
}
.card button:hover {
  background: white;
  color: #17aeee;
}
.card p {
  font-weight: 300;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0px;
  padding-top: 10px;
  margin-bottom: 55px;
}
@media (max-width: 755) {
  .box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .cards {
    padding: 40px;
    width: 350px;
    height: 260px;
    margin-bottom: 130px;
    padding: 20px;
  }
  .left-card {
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 400px) {
  .box {
    padding: 0px;
  }
}
@media (max-width: 1235px) {
  .services_div .about-header-card p {
    font-weight: 300;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 10px;
  }
}
.services_div .images {
  margin-top: 80px;
}
@media (max-width: 529px) {
  .services_div .images {
    margin-top: -160px !important;
  }
}
@media (max-width: 615px) {
  .swiper-wrapper {
    padding-top: 10px;
  }
}
@media (max-width: 1389px) {
  .right-card {
    width: 980px;
  }
  .services_div .about-header-card {
    min-height: 220px;
  }
  .services_div .about-header-card {
    width: 100%;
  }
  .services_div .mySwiper {
    width: 100%;
  }
  .services_div .about-header-card button {
    margin-bottom: 30px;
  }
}
@media (max-width: 1035px) {
  .services_div .mySwiper {
    right: 0px;
  }
}
@media (max-width: 800px) {
  .right-card {
    width: 100%;
    padding: 20px;
  }
  .services_div {
    padding: 0px;
  }
}
.left-card {
  width: 1020px;
  display: flex;
  justify-content: left ;
  flex-wrap: wrap;
}
@media (max-width: 1630px) {
  .box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .right-text {
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .ser1 .cards {
    max-width: 298px;
    width: 42%;
    min-height: 350px;
    /* padding-left: 5px; */
    margin-top: 50px;
  }
  .ser1 .cards p {
    font-weight: 300;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    color: #4d4d4d;
    font-size: 13px;
    line-height: 1.6;
    letter-spacing: 0px;
  }
  .ser1 .card {
    width: 260px;
    height: 280px;
    background: #17aeee;
    color: white;
    border-radius: 5px;
    padding-bottom: 9px;
    padding-left: 5px;
    padding-right: 20px;
    margin-top: 25px;
    margin-bottom: 30px !important;
  }
  .ser1 .card p {
    font-weight: 300;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0px;
    padding-top: 10px;
    margin-bottom: 55px;
  }
  .card button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    background: transparent;
    border: 2px solid white;
    border-radius: 4px;
    text-align: center;
    width: 110px;
    height: 40px;
    font-size: 17px;
    transition: 0.3s;
    margin-bottom: 10px !important;
  }
}

/* @media(max-width:600px) {
    .box {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-right: 20px;
    }
    .cards {
        width: 289px;
        height: 240px;
        margin-bottom: 30%;
    }
    .card { 
        width: 75%;
        height: 280px;
        background: #17aeee;
        color: white;
        border-radius: 5px;
        padding-bottom: 9px;
        padding-left: 15px;
        padding-right: 20px;
        margin-bottom: 30px !important;
        margin-left: 13.4%;
    }
    .card button {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #ffffff;
        background: transparent;
        border: 2px solid white;
        border-radius: 4px;
        text-align: center;
        width: 110px;
        height: 40px;
        font-size: 17px;
        transition: .3s;
        margin-bottom: 10px !important;
    }
} */
@media (max-width: 600px) {
  .cards {
    width: 100% !important;
    max-width: 100%;
  }
}

.two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  display: flex;
  justify-content: space-between;
  width: 105px;
}
.dumalo {
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forsa_img{
    width: 260px;
    height: 260px;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.view h4 {
  font-size: 15px;
}
#cards11 p {
  height: 100px;
}
#cards11 {
  margin-top: 50px;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
  border-radius: 15px;
}
.dumalo:hover i {
  color: white;
}
.dumalo:hover {
  border: 1px solid #44bef1;
}
.dumalo:hover {
  background: #44bef1;
  color: white;
  cursor: pointer;
}
.view span {
  color: #44bef1;
}
.view h4:hover {
  color: #44bef1;
  cursor: pointer;
}
