.m_vazifa_kotta{
    padding: 10px;
    width: 60%;
}
.m_vazifa_scachat{
   
    background-color: #fff;
    border-radius: 2px;
    transition: .5s;
    margin-bottom: 50px;
    padding-bottom: 10px;
}



.comment_file12{
    width: 25px;
    z-index: 1000;
    opacity: 0;
    margin-left: 5px;
}
.task_div_big{
    width: 60%;
}
.task_div_big img{
    width: 90%;
    border-radius: 20px;
}
.task_div_big p{
    margin-top: 20px;

}

.div_img_class_over img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.div_class_tugadi{
    margin-top: 10px;
}