.m_vazifa_kotta{
    padding: 10px;
    width: 60%;
}
.m_vazifa_scachat{
   
    background-color: #fff;
    border-radius: 2px;
    transition: .5s;
    margin-bottom: 50px;
    padding-bottom: 10px;
}
.scachat_kotta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    margin-left: 1%;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    display: none;
}

.scachat_kotta:hover{
    background-color: #1194F32a;
}

.m_zadaniya_s{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.m_title_scac{
    display: block;
    margin-left: 10px;
}
.m_title_scac p{
    color: #9DA7BB;
    font-size: 15px;
}
.m_title_scac h5{
    color: #2E2E2E;
    font-size: 18px;
    margin-top: 15px;
}
#checkbox1{
    width: 18px;
    height: 18px;
    accent-color: rgb(2, 167, 2);
    margin: auto;
    margin-left: 0;
}
.m_scachat{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    background-color: #536DFD;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.chec_proveren{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 10px #9DA7BB;
    color: #2BBF57;
    display: flex;
    align-items: center;
    justify-content: center;font-size: 20px;
}
.checed_vazifa{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.checed_vazifa h5{
    color: #2E2E2E;
    font-size: 18px;
}
.m_line_w{
    width: 100%;
    background-color: #9DA7BB2a;
    height: 1px;
}
.otpr_dz_file{
    width: 100%;
    border: 1px solid #9DA7BB;
    border-radius: 5px;
}

.m_comment_button1{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.m_comment_button1 button{
    color: #fff;
    margin-top: 30px;
}
.m_obsh_pas_div{
    width: 60%;
    margin-left: 10%;
    padding-top: 30px;
    height: auto;
}
.m_file_vazifa h5{
    font-size: 15px;
}
.m_file_vazifa p{
    color: #9DA7BB;
    font-size: 20px;
    margin-left: 10px;
}


.m_otpr p{
    color: #9DA7BB;
    font-size: 22px;
    margin-left: 20px;
    margin-top: 10px;
}
.m_file_vazifa{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.m_otpr input{
outline: none;
border: none;
width: 90%;
}
.m_otpr{
    display: flex;
    align-items: center;
    gap: 10px;
}
.m_but_otpr{
    margin-top: 10px;
 
}
.m_but_otpr button{
    border: none;
    border-radius: 5px;
    background-color: #536DFD;
    width: 100px;
    height: 30px;
    color: white;
    font-size: 13px;
    position: relative;
    left: 75%;
}




@media (max-width:1350px) {
    .m_title_scac p{
        color: #9DA7BB;
        font-size: 13px;
    }
    .m_title_scac h5{
        color: #2E2E2E;
        font-size: 15px;
        margin-top: 15px;
    }
    .checed_vazifa h5{
        color: #2E2E2E;
        font-size: 15px;
    }
}
@media (max-width:1200px) {
    .m_scachat{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        color: white;
        background-color: #536DFD;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }
    .chec_proveren{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 0px 10px #9DA7BB;
        color: #2BBF57;
        display: flex;
        align-items: center;
        justify-content: center;font-size: 20px;
    }

    .m_title_scac p{
        color: #9DA7BB;
        font-size: 11px;
    }
    .m_title_scac h5{
        color: #2E2E2E;
        font-size: 13px;
        margin-top: 15px;
    }
    .checed_vazifa h5{
        color: #2E2E2E;
        font-size: 13px;
    }
    .m_zadaniya_s{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    .checed_vazifa{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
}

@media (max-width:1000px) {
    .m_vazifa_kotta{
        padding: 10px;
        width: 100%;
    }
    .m_scachat{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: white;
        background-color: #536DFD;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }
    .chec_proveren{
        width:50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 0px 10px #9DA7BB;
        color: #2BBF57;
        display: flex;
        align-items: center;
        justify-content: center;font-size: 20px;
    }

    .m_title_scac p{
        color: #9DA7BB;
        font-size: 14px;
    }
    .m_title_scac h5{
        color: #2E2E2E;
        font-size: 17px;
        margin-top: 15px;
    }
    .checed_vazifa h5{
        color: #2E2E2E;
        font-size: 17px;
    }
    .m_zadaniya_s{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    .checed_vazifa{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
    }
   
    
}
@media (max-width:850px) {
    .m_scachat{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: white;
        background-color: #536DFD;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }
    .chec_proveren{
        width:50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 0px 10px #9DA7BB;
        color: #2BBF57;
        display: flex;
        align-items: center;
        justify-content: center;font-size: 20px;
    }

    .m_title_scac p{
        color: #9DA7BB;
        font-size: 12px;
    }
    .m_title_scac h5{
        color: #2E2E2E;
        font-size: 15px;
        margin-top: 15px;
    }
    .checed_vazifa h5{
        color: #2E2E2E;
        font-size: 15px;
    }
    .m_zadaniya_s{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }
    .checed_vazifa{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
}

@media (max-width:750px) {
    .m_file_vazifa h5{
        font-size: 12px;
    }
    .m_file_vazifa p{
        color: #9DA7BB;
        font-size: 17px;
        margin-left: 10px;
    }
    
    .m_but_otpr button{
        border: none;
        border-radius: 5px;
        background-color: #536DFD;
        width: 80px;
        height: 30px;
        color: white; 
        font-size: 10px; 
        position: relative;
        left: 70%;
    }
    .m_otpr input{
        outline: none;
        border: none;
        width: 90%;
        font-size: 13px;
        }
    .m_otpr p{
        color: #9DA7BB;
        font-size: 22px;
        margin-left: 20px;
        margin-top: 10px;
    }
    .m_scachat{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        color: white;
        background-color: #536DFD;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }
    .chec_proveren{
        width:45px;
        height: 45px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 0px 10px #9DA7BB;
        color: #2BBF57;
        display: flex;
        align-items: center;
        justify-content: center;font-size: 20px;
    }

    .m_title_scac p{
        color: #9DA7BB;
        font-size: 12px;
    }
    .m_title_scac h5{
        color: #2E2E2E;
        font-size: 13px;
        margin-top: 15px;
    }
    .checed_vazifa h5{
        color: #2E2E2E;
        font-size: 13px;
    }
    .m_zadaniya_s{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    .checed_vazifa{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
}
@media (max-width:650px) {
    .checed_vazifa h5{
        display: none;
    }
    .m_file_vazifa h5{
        font-size: 11px;
    }
    .m_file_vazifa p{
        color: #9DA7BB;
        font-size: 20px;
        margin-left: 10px;
    }
    
    
    .m_otpr p{
        color: #9DA7BB;
        font-size: 17px;
        margin-left: 20px;
        margin-top: 10px;
    }
    .m_otpr input{
        outline: none;
        border: none;
        width: 90%;
        font-size: 10px;
        }
}

@media (max-width:600px) {
    .m_obsh_pas_div{
        width: 98%;
        margin-left: 1%;
    }
    .m_but_otpr button{
        border: none;
        border-radius: 5px;
        background-color: #536DFD;
        width: 80px;
        height: 30px;
        color: white; 
        font-size: 10px; 
        position: relative;
        left: 80%;
    }
}
@media (max-width:450px) {
    .m_scachat{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        color: white;
        background-color: #536DFD;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        margin-left: 5px;
    }
    .chec_proveren{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 0px 10px #9DA7BB;
        color: #2BBF57;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }
    #checkbox1{
        width: 14px;
        height: 14px;
    }

    .m_title_scac p{
        color: #9DA7BB;
        font-size: 8px;
    }
    .m_title_scac h5{
        color: #2E2E2E;
        font-size: 9px;
        margin-top: 15px;
    }
    .m_zadaniya_s{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }
    .checed_vazifa{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    .m_file_vazifa h5{
        font-size: 9px;
        }
    .m_file_vazifa p{
        color: #9DA7BB;
        font-size: 20px;
        margin-left: 10px;
    }
    .m_otpr input{
        outline: none;
        border: none;
        width: 90%;
        font-size: 9px;
        }
        .m_otpr p{
            font-size: 20px;
        }

        .m_but_otpr button{
            border: none;
            border-radius: 5px;
            background-color: #536DFD;
            width: 80px;
            height: 30px;
            color: white; 
            font-size: 10px; 
            position: relative;
            left: 70%;
        }
}

@media (max-width:350px) {



    .m_title_scac p{
        color: #9DA7BB;
        font-size: 8px;
    }
    .m_title_scac h5{
        color: #2E2E2E;
        font-size: 8px;
        margin-top: 15px;
    }
    .m_zadaniya_s{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2px;
    }
}