.m_vazifa_kotta{
    padding: 10px;
    width: 60%;
}
.m_vazifa_scachat{
   
    background-color: #fff;
    border-radius: 2px;
    transition: .5s;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

.m-comment-mark:active, .m-comment-mark1:active {
    background-color: #44bef1;
    color: #fff !important;
    border-radius: 5px;
    user-select: none;
}
.m-comment-mark1{
    color: #44bef1;
    cursor: pointer;
    gap:5px;
    text-align:center;
    padding:3px;
    display:none
}
.comment_file12{
    width: 25px;
    z-index: 1000;
    opacity: 0;
    margin-left: 5px;
}
.task_div_big{
    width: 60%;
}
.task_div_big img{
    width: 90%;
    border-radius: 20px;
}
.task_div_big p{
    margin-top: 20px;

}

.div_img_class_over img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 5px;
}
.div-like-dislike-delete-share{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.like-dislike-div-uchun{
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
    cursor: pointer;

}
.like-dislike-div-uchun p{
    color: #9DA7BB;
}

.div_class_tugadi{
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #9DA7BB50;
    padding: 15px;
}

.p-create-time-uchun{
    color: #9DA7BB;
    font-size: 10px;
}

.hr2000{
    background: #9DA7BB !important;
    height: 2px !important;
    border: none !important;
    border-radius: 10px;
}
.zanacha_vaz{
    color: #44bef1;
    text-decoration: underline;
}

.m-comment-Bookmark{
    color: #44bef1;
    font-size: 20px;
}

.BsBookmark{
    display: none;
    margin-right: 20px;
}

.div-mark-chikadigan-joy{
    position: absolute;
    left: 40%;
    cursor: pointer;
}

.mark-p-div-chikadi{
    border-radius: 10px;
    color: #000;
    box-shadow: 0px 0px 10px rgb(34, 34, 34);
    font-size: 13px;
    width: 200px;
    height: 30px;
    text-align: center;
    padding: 5px;
}

.asxzsdsdkejhjbdfibmffdo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.p-info-mark-div1 {
    position: absolute;
    right: 45.6%;
    display: none;
    height: 35px;
    top: 735px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    box-shadow: 0px 0px 10px #9da7bbde;
    font-size: 10px;
    border-bottom-right-radius: 0px;
    background-color: #fff;
}

@media (max-width:1000px) {
    .p-info-mark-div1 {
        position: absolute;
        right: 80px;
        display: none;
        height: 35px;
        top: 810px;
        border-radius: 10px;
        width: 150px;
        text-align: center;
        box-shadow: 0px 0px 10px #9da7bbde;
        font-size: 10px;
        border-bottom-right-radius: 0px;
        background-color: #fff;
    }
    .mark-p-div-chikadi{
        border-radius: 10px;
        color: #000;
        box-shadow: 0px 0px 10px rgb(34, 34, 34);
        font-size: 13px;
        width: 200px;
        height: 30px;
        text-align: center;
        padding: 5px;
    }
    
}

#mark-input-in-task, #mark-input-in-task1{
    width: 100% !important;
    margin-bottom: 30px;
    border-bottom: 1px solid #44bef1;
}

.mark-otment-bosa{
    color: black;
    font-size: 12px;
}
.mark-okey-bosa{
    color: #44bef1;
    font-size: 12px;
}

.mark-button-down{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.m-input-mark{
    display: none;
}
.m-input-mark1{
    display: none;
}
.errorbigfive, .errorbigfive1, .errorbigfive2, .errorbigfive3{
    color: rgba(255, 0, 0, 0.856);
    margin-top: -20px;
    font-size: 12px;
    display: none;
}
.m-comment-mark{
    color:#44bef1 ;
    gap: 5px;
    text-align:center; 
    cursor:pointer;
    padding:3px;
}

.mark-two{
    background-color: red;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}
.mark-three{
    background-color: rgb(255, 123, 0);
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}
.mark-four{
    background-color: rgb(245, 179, 11);
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}
.mark-five{
    background-color: rgb(5, 197, 5);
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}
.kichkina-mark-uchun-joy{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;

}
.kotta-obsh-mark-uchun{
    width: 50%;
    background-color: #fff;
    border-radius: 20px;
    height: 350px;
    text-align: center;
    z-index: 200;
}
.mark-uchun-koish-joy{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #000000da;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    padding: 10px;
}
.mark-uchun-koish-joy1{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #000000da;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    padding: 10px;
}
.otmen-uchen-but{
    color: black;
    background-color: #fff;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border: 1px solid black;
}
.otmen-uchen-but:active{
    background-color: black;
    color: white;
}
.porver-uchen-but{
    color: #44bef1;
    background-color: #fff;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border: 1px solid #44bef1;
}
.porver-uchen-but:active{
    color: white;
    background-color: #44bef1;

}

.mark-otmen-potver-uchun{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.mark-bosgandan-kein{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

@media (max-width:750px) {
    .kotta-obsh-mark-uchun{
        width: 100%;
        background-color: #fff;
        border-radius: 20px;
        height: 350px;
        text-align: center;
        z-index: 200;
    }
}
@media (max-width:400px) {
    .mark-two{
        background-color: red;
        color: white;
        width: 45px !important;
        height: 45px !important;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px !important;
        cursor: pointer;
    }
    .mark-three{
        background-color: rgb(255, 123, 0);
        color: white;
        width: 45px !important;
        height: 45px !important;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px !important;
        cursor: pointer;
    }
    .mark-four{
        background-color: rgb(245, 179, 11);
        color: white;
        width: 45px !important;
        height: 45px !important;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px !important;
        cursor: pointer;
    }
    .mark-five{
        background-color: rgb(5, 197, 5);
        color: white;
        width: 45px !important;
        height: 45px !important;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px !important;
        cursor: pointer;
    }
}
.mark-chiqadigan-joy-ofcourse{
    background-color: rgb(5, 197, 5);
    color: white;
    width: 60px ;
    height: 60px ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

@media (max-width:550px) {
    .m_comment_delete1 span{ 
        display: none;
    }
    .m_comment_delete1{
        width: 30px !important;
        height: 30px !important;
        border-radius: 50%;
        border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .m_comment_delete1:active{
        width: 30px !important;
        height: 30px !important;
        border-radius: 50% !important;
        background-color: red;
    }
    .m-comment-mark span{
        display: none;
    }
    .m-comment-mark{
        width: 30px !important;
        height: 30px !important;
        border-radius: 50%;
        border: 1px solid #44bef1;
        display: flex;
        align-items: center;justify-content: center; 
    }
    .m-comment-mark:active{
        width: 30px !important;
        height: 30px !important;
        border-radius: 50% !important;
        background-color: #44bef1;
    }
}