.Vazifa_white_blok {
    width: 63%;
    height: 800px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding-top: 10px;
    border-radius: 5px;
}

.vazifa_blok {
    width: 95%;
    height: 90px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

.vazifa_blok:hover {
    background: url('../img/Rectangle\ 17.png');
    cursor: pointer;
    color: black;
}

.vazifa_blok:hover .chec {
    background-color: white;
}

.vazifa_blok:hover .mb_h5 {
    color: rgba(0, 0, 0, 0.432);
}

.close_x {
    color: red;
}

.chec {
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skachat_div_blue {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 30px;
    background-color: #536DFD;
}

.title_h5 {
    width: 400px;

}

.checbox_skachat_div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.checbox {
    width: 25px;
    height: 25px;
}

.vazifa_title_h5_icon {
    width: 55%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.chec {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid rgba(128, 128, 128, 0.5);
    align-items: center;
    text-align: center;
    color: green;
    font-size: 21px;
    padding-top: 1px;
}

.mb_h5 {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.432);
}



.file_icon_text {
    width: 96%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.705);
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.title_file_icon {
    width: 60%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.title_file_icon h6 {
    font-size: 18px;
    margin-top: 10px;
}

.file {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.568);
}

.close_x_delete {
    font-size: 26px;
    color: rgba(0, 0, 0, 0.534);
}

.vector_icon_div {
    width: 100%;
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
}

.vector {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.534);
}

.inp {
    width: 90%;
    border: none;
    outline: none;
}

.search_file_small {
    width: 100%;
    border-radius: 5px;
    height: 100px;
    border: 2px solid rgba(128, 128, 128, 0.493);
}
.seach_file{
    width: 60%;
    height: auto;
    position: relative;
    margin-left: 8%;
    margin-top: 5%;    
}   
.yubor{
    width: 130px;
    height: 34px;
    border-radius: 4px;
    margin-top: 20px;
    border: none;
    background-color: #536DFD;
    color: #fff;
    position: absolute;
    right: 0;
}