.wiew_div {
    width: 70%;
    /* min-height: 600px; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 50px auto;
    padding-bottom: 60px;
    margin-bottom: 40px; 
}
.input_notification_bid_div{
    width: 93%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #AC9292;
    /* display: none; */
    /* display: none; */
}
.Exit_notifaction_button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    background-color: #A54B50;
    color: #fff;
    border-radius: 4px;
    padding-bottom: 5px;
}
.input_notification_bid_div input{
    width: 100%;
    border: 1px solid #AC9292;
    border-radius: 5px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.input_notification_bid_div button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    background-color: #A54B50;
    color: #fff;
    border-radius: 4px;
    padding-bottom: 5px;
}

.wiew_sms_big {
    width: 95%;
    /* height: 500px; */
    border-radius: 10px;
    margin: auto;
    /* overflow-y: scroll; */

}
.forae_scrol{
    overflow: hidden;
    overflow-y: scroll !important;
    height: 400px;
    margin-top: 20px;
}
.logo {
    width: 100%;
 
    padding-top: 20px;
    padding-left: 5%;
}
.yubor22{
    display: none;
}
.sms {
    width: 93%;
    min-height: 50px;
    border-radius: 20px;
    background-color: #d9d9d9ca;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 1px;
}

.data_title {
    display: flex;
    justify-content: space-between;
    /* width: 95%; */
    margin: auto;
    height: auto;
}

.data {
    font-weight: 700;   
    /* padding-left: 20px; */
    padding-right: 20px;
    padding-top: 18px;
    margin-bottom: 0;
    width: 120px;
}

.unred {
    color: #AC9292;
    font-weight: 700;
}

.lorem_sms {
    font-weight: 700;
    font-size: 16px;

}

.p_lorem_sms {
    /* padding-left: 20px; */
    padding-right: 20px;
    /* margin-bottom: 30px; */
    padding-top: -10px;
}
.qizil{
    width: 17px;
    height: 17px;
    background-color: 
    #A54B50;
    border-radius: 50%;
    padding-top: -10px;
}
@media (max-width:913px) {
    .wiew_div{
        width: 90%;
    }
}
.qongiro_title{
    font-size: 28px;
    font-weight: 700;
    margin-top: 50px;
    text-align: center;
    color: rgba(137, 134, 134, 0.74);
}
.icon{
    width: 38%;
}
.ooo{
    margin: auto;
    margin-top: 50px;
}
@media (max-width:701px) {
   .wiew_div{
    margin-top: 200px;
   }
} 
.time_blockk{
    text-align: right;
}
#data_title p{
    padding-top: 0px;
}
#data{
    padding-top: 18px !important;
}
@media(max-width:500px){
    .sms{
        font-size: 12px;
    }
    .data_title p {
        font-size: 12px;
    }
    .lorem_sms{
        font-size: 12px;
    }
    .input_notification_bid_div {
        padding: 10px;
    }
}
#selectss{
    width: 200px !important;
}
.noti_select{
    background-color: #A54B50 !important;
    border: 2px solid #A54B50 !important;
    cursor: pointer;
    min-height: auto;
}
.Wiewals .select_div{
    border: 2px solid #A54B50 !important;
}
.Wiewals .select_div p{
    border-bottom: 2px solid #A54B50 !important;
}

::-webkit-scrollbar {
    /* width: 10px; */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #A54B50 !important;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #A54B50 !important;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #A54B50 !important;
  }
  .selectss_div{
    display: block !important;
  }
  .select_big_div #select-input2:hover{
    background-color: #A54B50 !important;
    color: black !important;
  }
  .select_big_div #select-input{
    overflow-y: hidden;
  }