.youtube_bgc{
    background-color: #F1F2F6;  
    margin-top: 10px;
}

.flex_youtube{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.youtube_kotta_img{
    width: 60%;

}
.img_youtube_kotta img{
    width: 99%;
    margin-top: 1px;
    height: auto;
}
.img_youtube_kotta{
    border-radius: 5px;
background-color: #fff;
width: 100%;
height: auto;
display: flex;
justify-content: center;align-items: center;
margin-bottom: 20px;
}
.flex_logig{
    display: flex;
    align-items: center;
}
.flex_logig span{
    color: #9DA7BB;
}
.flex_logig p{
    gap: 5px;
    color: #2E2E2E;
    margin-left: 5px;
    padding-top: 10px;
}
.raspberry_pi{
    font-size: 18px ;
    color: #2E2E2E;
}
.flex_star{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 11px;
}
.flex_star1{
    display: flex;
    align-items: center;
    font-size: 11px;
}
.flex_star p{
    color: #FFD401;
}
.flex_star1 p{
    margin-left: 5px;
    color: #9DA7BB;
}
.buttons_next_back{
    display: flex;  align-items: center;
    margin: auto;
    margin-right: 0px;
}
.buttons_next_back button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    color: #2E2E2E !important;
    height: 40px;
    font-size: 10px;
    width:130px;
}
.button_back{
    margin-right: 10px;  
}
.post_ava{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.post_ava button{
    text-align: center;
    background-color: #536DFD;
    color: white;
    width: 90px;
    height: 20px;
    border-radius: 2px;
    border: none;
    font-size: 11px;
    margin-left: 10px;
}
.post_ava h6{
    margin-left: 10px;
    font-size: 14px;
    margin-top: 5px;
}

.odtel_media_uchun{
    display: none;
}

@media (max-width:1400px) {
    .buttons_next_back button{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 120px;
        font-size: 10px;
        border: none;
        background-color: #fff;
        border-radius: 5px;
        color: #2E2E2E !important;
        height: 40px;
    }
    
    .flex_star{
        display: flex;
        align-items: center;
        margin-left: 10px;
        font-size: 11px;
    }
    .flex_star1{
        display: flex;
        align-items: center;
        font-size: 11px;
    }
    .flex_star p{
        color: #FFD401;
    }
    .flex_star1 p{
        margin-left: 5px;
        font-size: 11px;
        color: #9DA7BB;
    }
    .p_4_1_524{
        gap: 5px;
        font-size: 12px;
        margin-left: 5px;
        padding-top: 10px;
    }
    .raspberry_pi{
        font-size: 15px ;
        color: #2E2E2E;
    }
} 
@media (max-width:1200px) {
    .raspberry_pi{
        display: none;
    }
    .odtel_media_uchun{
        display: block;
    }
    .flex_star{
        display: none;
    }
    .flex_star1{
        display: none;
    }
    .flex_star2{
        display: flex;
        align-items: center;
        font-size: 13px;
    }
    .flex_star12{
        display: flex;
        align-items: center;
        font-size: 13px;
    }
    .flex_star2 p{
        color: #FFD401;
    }
    .flex_star12 p{
        margin-left: 5px;
        color: #9DA7BB;
    }
    .p_4_1_524{
        display: none;
    }
    .odtel_media_uchun h1{
        font-size: 15px ;
        color: #2E2E2E;
    }
    .flex_star_p{
        display: flex;
        margin-top: -10px;
    }
    .p_4_1_5245{
        gap: 5px;
        font-size: 12px;
        margin-left: 5px;
        margin-top: 3px ;
    }

    .buttons_next_back button{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 110px;
        font-size: 9px;
        border: none;
        background-color: #fff;
        border-radius: 5px;
        color: #2E2E2E !important;
        height: 40px;
        margin-top: -50px;
    }
}


.youtube_kichkina{
    width: 37%;
}


.accordion_flex{
    display: flex;
}
.accordion_flex1 {
    display: flex;
    margin-top: -30px;
}
.accordion_text
{
    margin-left: 10px;
}
.accordion_text h6{
    font-size: 15px;
    line-height: 16px;
}
.accordion_text span{
color: #9DA7BB;
}
.accordion_text p{
    margin-top: 10px;
    font-size: 13px;
}
.raspberry_pid h1{
    font-size: 18px;
    line-height: 23px;
    margin: auto;
    margin-left: 0;
}
.raspberry_pid{
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    height: 80px;
    border-radius: 5px;
}
.line_height{
    width: 1px;
    height: 45px;
    border: none;
    background-color: #9DA7BB;
    margin-right: 30px;
}
.raspberry_pid p{
    font-size: 15px;
    line-height: 20px;
    
}
.margin_right
{margin: auto;
    margin-right: 0;
    display: flex;
}

@media (max-width:1307px) {
    
                .accordion_text h6 {
                    font-size: 14px;
                    line-height: 16px;
                }
                                .accordion_img img {
                                    width: 90px;
                                }
}
@media (max-width:1220px) {
    .raspberry_pid h1 {
            font-size: 16px;
            line-height: 23px;
            margin: auto;
            margin-left: 0;
        }
                .line_height {
                    width: 1px;
                    height: 45px;
                    border: none;
                    background-color: #9DA7BB;
                    margin-right: 25px;
                }
        
                .raspberry_pid p {
                    font-size: 13px;
                    line-height: 20px;
        
                }
        .accordion_text h6 {
            font-size: 12px;
            line-height: 16px;
        }
        .accordion_text p {
            margin-top: 10px;
            font-size: 11px;
        }
}

@media (max-width:1105px) {
    .raspberry_pid h1 {
        font-size: 14px;
        line-height: 23px;
        margin: auto;
        margin-left: 0;
    }

    .line_height {
        width: 1px;
        height: 45px;
        border: none;
        background-color: #9DA7BB;
        margin-right: 25px;
    }

    .raspberry_pid p {
        font-size: 11px;
        line-height: 20px;

    }

    .accordion_text h6 {
        font-size: 10px;
        line-height: 13px;
    }

    .accordion_text p {
        margin-top: 10px;
        font-size: 11px;
    }
    .accordion_img img{
        width: 80px;
    }
}



@media (max-width:1000px) {
.flex_youtube{
    display: block;
}
.youtube_kotta_img{
    width: 100%;
}
.odtel_media_uchun{
    display: none;
}

.p_4_1_524 {
    display: flex;
}.raspberry_pi {
        display: flex;
    font-size: 18px;
    color: #2E2E2E;
}

.flex_star {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 11px;
}

.flex_star1 {
    display: flex;
    align-items: center;
    font-size: 11px;
}
.buttons_next_back {
    display: flex;
    align-items: center;
    margin: auto;
    margin-right: 0px;
}

.buttons_next_back button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    color: #2E2E2E !important;
    height: 40px;
    font-size: 9px;
    width: 110px;
    margin-top: 0px;
    
}
.post_ava button {
    text-align: center;
    background-color: #536DFD;
    color: white;
    width: 90px;
    height: 20px;
    border-radius: 2px;
    border: none;
    font-size: 11px;
    margin-left: 20px;
}

.post_ava h6 {
    margin-left: 10px;
    font-size: 14px;
    margin-top: 5px;
}


.youtube_kichkina{
    width: 100%;
    margin-top: 30px;
}
.accordion_flex1{
    margin-top: -20px;
}
.accordion_text h6 {
    font-size: 18px;
    line-height: 20px;
}

.accordion_text p {
    margin-top: 10px;
    font-size: 15px;
}

.accordion_img img {
    width: 120px;
}

.raspberry_pid h1 {
    font-size: 20px;
    line-height: 23px;
    margin: auto;
    margin-left: 0;
}

.line_height {
    width: 1px;
    height: 45px;
    border: none;
    background-color: #9DA7BB;
    margin-right: 40px;
}

.raspberry_pid p {
    font-size: 15px;
    line-height: 20px;

}
}

@media (max-width:777px) {
    .p_4_1_524 {
        font-size: 9px;
    }

    .raspberry_pi {
        display: flex;
        font-size: 14px;
        color: #2E2E2E;
    }

    .flex_star {
        display: flex;
        align-items: center;
        margin-left: 10px;
        font-size: 9px;
    }

    .flex_star1 p{
        font-size: 9px !important;
    }


    .buttons_next_back button {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: none;
        background-color: #fff;
        border-radius: 5px;
        color: #2E2E2E !important;
        height: 40px;
        font-size: 8px;
        width: 95px;
        margin-top: 0px;
    }

}
.buttons_next_back p{
    margin-top: 4px;
}
@media (max-width:650px) {
    .buttons_next_back button {
            display: flex;
            align-items: center;
            justify-content: space-around;
            border: none;
            background-color: #fff;
            border-radius: 50%;
            color: #2E2E2E !important;
            width: 40px;
            height: 40px;
            font-size: 15px;
            
            margin-top: -30px;
        }
        .post_ava button{
                    text-align: center;
                    background-color: #536DFD;
                    color: white;
                    width: 100px;
                    height: 20px;
                    border-radius: 2px;
                    border: none;
                    font-size: 11px;
                    margin: auto;
                    margin-right: 0;
        }
                .buttons_next_back p{
                    display: none;
                }



            .raspberry_pi {
                display: none;
            }

            .odtel_media_uchun {
                display: block;
            }

            .flex_star {
                display: none;
            }

            .flex_star1 {
                display: none;
            }

            .flex_star2 {
                display: flex;
                align-items: center;
                font-size: 13px;
            }

            .flex_star12 {
                display: flex;
                align-items: center;
                font-size: 13px;
            }

            .flex_star2 p {
                color: #FFD401;
            }

            .flex_star12 p {
                margin-left: 5px;
                color: #9DA7BB;
            }

            .p_4_1_524 {
                display: none;
            }

            .odtel_media_uchun h1 {
                font-size: 15px;
                color: #2E2E2E;
            }

            .flex_star_p {
                display: flex;
                margin-top: -10px;
            }

            .p_4_1_5245 {
                gap: 5px;
                font-size: 12px;
                margin-left: 5px;
                margin-top: 3px;
            }



            .accordion_text h6 {
                font-size: 14px;
                line-height: 20px;
            }

            .accordion_text p {
                margin-top: 10px;
                font-size: 13px;
            }

            .accordion_img img {
                width: 100px;
            }

            .raspberry_pid h1 {
                font-size: 17px;
                line-height: 23px;
                margin: auto;
                margin-left: 0;
            }

            .line_height {
                width: 1px;
                height: 45px;
                border: none;
                background-color: #9DA7BB;
                margin-right: 40px;
            }

            .raspberry_pid p {
                font-size: 13px;
                line-height: 20px;

            }




}

@media (max-width:477px) {
    .raspberry_pid h1 {
            font-size: 14px;
            line-height: 23px;
            margin: auto;
            margin-left: 0;
        }
    
        .line_height {
            width: 1px;
            height: 45px;
            border: none;
            background-color: #9DA7BB;
            margin-right: 30px;
        }
    
        .raspberry_pid p {
            font-size: 12px;
            line-height: 20px;
    
        }

                .accordion_text h6 {
                    font-size: 12px;
                    line-height: 16px;
                }
        
                .accordion_text p {
                    margin-top: 9px;
                    font-size: 13px;
    }
        .accordion_img img {
            width: 85px;
        }
        .accordion_text {
            margin-left: 5px;
        }
}

@media (max-width:410px) {
    .accordion_text h6 {
            font-size: 10px;
            line-height: 13px;
        }

        .accordion_text p {
            margin-top: 7px;
            font-size: 13px;
        }

        .accordion_img img {
            width: 90px;
        }
}