.youtube_bgc{
    background-color: #F1F2F6;  
    margin-bottom:50px;
}

.flex_youtube{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 10px;
    margin-top: 70px;
   
}
@media (max-width:1034px) {
    .flex_youtube{
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
        padding: 10px;
        margin-top: 50px ;
       
    }
}
.accordion_img{
    width: 10%;
}
.accordion_img img{
    width: 100%;
}
.db{
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 200;
    background-color: #fff;
    padding: 5px;

}
.a_err_boganda{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 200;
    background-color: #fff;
    padding: 5px;
}
.a_err_bolsa_block{
    text-align: center;
}
.a_err_bolsa_block button{
    height: 35px;
    width: 200px;
    border-radius: 5px;
    color: white;
    background-color: #44bef1;
}
@media (max-width:700px) {
    .a_err_bolsa_block h3{
        font-size: 20px;
    }
}
@media (max-width:550px) {
    .a_err_bolsa_block h3{
        font-size: 15px;
    }.a_err_bolsa_block button{
        height: 35px;
        width: 150px;
        border-radius: 5px;
        font-size: 13px;
        color: white;
        background-color: #44bef1;
    }
    .a_err_bolsa_block img{
        width: 100%;
    }
}
@media (max-width:410px) {
    .a_err_bolsa_block h3{
        font-size: 11px;
    }.a_err_bolsa_block button{
        height: 25px;
        width: 120px;
        border-radius: 5px;
        font-size: 10px;
        color: white;
        background-color: #44bef1;
    }
    .a_err_bolsa_block img{
        width: 100%;
    }
}

.navbar_otish1 p:after {
    display: block;
    content: "";
    border-bottom: solid 3px #44bef1;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  .navbar_otish1 p .navbar_otish1 p:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
  }
  .navbar_otish p:after {
    padding-bottom: 10px;
    display: block;
    content: "";
    border-bottom: solid 3px #44bef1;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  .navbar_otish p .navbar_otish p:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
  }
  
.youtube_kotta_img{
    width: 60%;
    margin-bottom: 20px;
}

.img_youtube_kotta img{
    width: 99%;
    margin-top: 1px;
    height: auto;
}
.img_youtube_kotta{
    border-radius: 5px;
background-color: #fff;
width: 100%;
height: auto;
display: flex;
justify-content: center;align-items: center;
margin-bottom: 20px;
}
.flex_logig{
    display: flex;
    align-items: center;
}
.flex_logig span{
    color: #9DA7BB;
}
.flex_logig p{
    gap: 5px;
    color: #2E2E2E;
    margin-left: 5px;
    padding-top: 10px;
}
.raspberry_pi{
    font-size: 18px ;
    color: #2E2E2E;
}
.flex_star{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 11px;
}
.flex_star1{
    display: flex;
    align-items: center;
    font-size: 11px;
}
.flex_star p{
    color: #FFD401;
}
.flex_star1 p{
    margin-left: 5px;
    color: #9DA7BB;
}
.buttons_next_back{
    display: flex;  align-items: center;
    margin: auto;
    margin-right: 0px;
}
.buttons_next_back button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    color: #2E2E2E !important;
    height: 40px;
    font-size: 10px;
    width:130px;
}

#themeswiper .swiper-button-prev{
    position: absolute !important;
    top: 83% !important;
    left: 80% !important;
    padding: 25px !important;
    background-color: #fff !important;
    color: #2E2E2E !important;
    border-radius: 50% !important;
    border: 1px solid #2E2E2E !important;
    display: flex !important;
    justify-content: center !important;
    /* display: none !important; */

}
#themeswiper .swiper-button-next{
    border-radius: 50% !important;
    position: absolute !important;
    display: flex !important;
    justify-content: center !important;
    top: 83% !important;
    left: 90% !important;
    color: #2E2E2E !important;
    padding: 25px !important;
    font-size: 10px !important;
    background-color: #fff !important;
    border: 1px solid #2E2E2E !important;
    /* display: none !important; */
}
#themeswiper .swiper-button-prev:after{
    font-size: 25px !important;
}
#themeswiper .swiper-button-next:after{
    font-size: 25px !important;
}


.button_back{
    margin-right: 10px;  
}
.post_ava{
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 50px;
}
.post_ava img{
    width: 100%;
    border-radius: 50%;
}
.post_ava button{
    text-align: center;
    background-color: #536DFD;
    color: white;
    width: 90px;
    height: 20px;
    border-radius: 2px;
    border: none;
    font-size: 11px;
    margin-left: 10px;
}
.post_ava h6{
    margin-left: 10px;
    font-size: 14px;
    margin-top: 5px;
}

.odtel_media_uchun{
    display: none;
}

@media (max-width:1400px) {
    .buttons_next_back button{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 120px;
        font-size: 10px;
        border: none;
        background-color: #fff;
        border-radius: 5px;
        color: #2E2E2E !important;
        height: 40px;
    }
    
    .flex_star{
        display: flex;
        align-items: center;
        margin-left: 10px;
        font-size: 11px;
    }
    .flex_star1{
        display: flex;
        align-items: center;
        font-size: 11px;
    }
    .flex_star p{
        color: #FFD401;
    }
    .flex_star1 p{
        margin-left: 5px;
        font-size: 11px;
        color: #9DA7BB;
    }
    .p_4_1_524{
        gap: 5px;
        font-size: 12px;
        margin-left: 5px;
        padding-top: 10px;
    }
    .raspberry_pi{
        font-size: 15px ;
        color: #2E2E2E;
    }
} 
@media (max-width:1200px) {
    .raspberry_pi{
        display: none;
    }
    .odtel_media_uchun{
        display: block;
    }
    .flex_star{
        display: none;
    }
    .flex_star1{
        display: none;
    }
    .flex_star2{
        display: flex;
        align-items: center;
        font-size: 13px;
    }
    .flex_star12{
        display: flex;
        align-items: center;
        font-size: 13px;
    }
    .flex_star2 p{
        color: #FFD401;
    }
    .flex_star12 p{
        margin-left: 5px;
        color: #9DA7BB;
    }
    .p_4_1_524{
        display: none;
    }
    .odtel_media_uchun h1{
        font-size: 15px ;
        color: #2E2E2E;
    }
    .flex_star_p{
        display: flex;
        margin-top: -10px;
    }
    .p_4_1_5245{
        gap: 5px;
        font-size: 12px;
        margin-left: 5px;
        margin-top: 3px ;
    }

    .buttons_next_back button{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 110px;
        font-size: 9px;
        border: none;
        background-color: #fff;
        border-radius: 5px;
        color: #2E2E2E !important;
        height: 40px;
        margin-top: -50px;
    }
}


.youtube_kichkina{
    width: 38%;
    position: sticky;
    top: 0;
}

.accordion_flex{
    display: flex;
}
.accordion_flex1 {
    display: flex;
    margin-top: -30px;
}
.accordion_text
{
    margin-left: 10px;
    width: 80%;
}
.accordion_text h6{
    font-size: 15px;
    line-height: 16px;
}
.accordion_text span{
color: #9DA7BB;
}
.accordion_text p{
    margin-top: 10px;
    font-size: 13px;
}
.raspberry_pid h1{
    font-size: 18px;
    line-height: 23px;
    margin: auto;
    margin-left: 0;
}
.raspberry_pid{
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    height: 80px;
    border-radius: 5px;
}
.line_height{
    width: 1px;
    height: 45px;
    border: none;
    background-color: #9DA7BB;
    margin-right: 30px;
}
.raspberry_pid p{
    font-size: 15px;
    line-height: 20px;
    
}
.margin_right
{margin: auto;
    margin-right: 0;
    display: flex;
    align-items: center;
}

@media (max-width:1307px) {
    
                .accordion_text h6 {
                    font-size: 14px;
                    line-height: 16px;
                }
                                .accordion_img img {
                                    width: 100%;
                                }
}
@media (max-width:1220px) {
    .raspberry_pid h1 {
            font-size: 16px;
            line-height: 23px;
            margin: auto;
            margin-left: 0;
        }
                .line_height {
                    width: 1px;
                    height: 45px;
                    border: none;
                    background-color: #9DA7BB;
                    margin-right: 25px;
                }
        
                .raspberry_pid p {
                    font-size: 13px;
                    line-height: 20px;
        
                }
        .accordion_text h6 {
            font-size: 12px;
            line-height: 16px;
        }
        .accordion_text p {
            margin-top: 10px;
            font-size: 11px;
        }
}

@media (max-width:1105px) {
    .raspberry_pid h1 {
        font-size: 14px;
        line-height: 23px;
        margin: auto;
        margin-left: 0;
    }

    .line_height {
        width: 1px;
        height: 45px;
        border: none;
        background-color: #9DA7BB;
        margin-right: 25px;
    }

    .raspberry_pid p {
        font-size: 11px;
        line-height: 20px;

    }

    .accordion_text h6 {
        font-size: 10px;
        line-height: 13px;
    }

    .accordion_text p {
        margin-top: 10px;
        font-size: 11px;
    }
    .accordion_img img{
        width: 100%;
    }
}



@media (max-width:1000px) {
    #themeswiper{
        width: 100% !important;
    }
.flex_youtube{
    display: block;
}
.youtube_kotta_img{
    width: 100%;
}
.odtel_media_uchun{
    display: none;
}

.p_4_1_524 {
    display: flex;
}.raspberry_pi {
        display: flex;
    font-size: 18px;
    color: #2E2E2E;
}

.flex_star {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 11px;
}

.flex_star1 {
    display: flex;
    align-items: center;
    font-size: 11px;
}
.buttons_next_back {
    display: flex;
    align-items: center;
    margin: auto;
    margin-right: 0px;
}

.buttons_next_back button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    color: #2E2E2E !important;
    height: 40px;
    font-size: 9px;
    width: 110px;
    margin-top: 0px;
    
}
.post_ava button {
    text-align: center;
    background-color: #536DFD;
    color: white;
    width: 90px;
    height: 20px;
    border-radius: 2px;
    border: none;
    font-size: 11px;
    margin-left: 20px;
}

.post_ava h6 {
    margin-left: 10px;
    font-size: 14px;
    margin-top: 5px;
}


.youtube_kichkina{
    width: 100%;
    margin-top: 30px;
}
.accordion_flex1{
    margin-top: -20px;
}
.accordion_text h6 {
    font-size: 18px;
    line-height: 20px;
}

.accordion_text p {
    margin-top: 10px;
    font-size: 15px;
}

.accordion_img img {
    width: 100%;
}

.raspberry_pid h1 {
    font-size: 20px;
    line-height: 23px;
    margin: auto;
    margin-left: 0;
}

.line_height {
    width: 1px;
    height: 45px;
    border: none;
    background-color: #9DA7BB;
    margin-right: 40px;
}

.raspberry_pid p {
    font-size: 15px;
    line-height: 20px;

}
}

@media (max-width:777px) {
    .p_4_1_524 {
        font-size: 9px;
    }

    .raspberry_pi {
        display: flex;
        font-size: 14px;
        color: #2E2E2E;
    }

    .flex_star {
        display: flex;
        align-items: center;
        margin-left: 10px;
        font-size: 9px;
    }

    .flex_star1 p{
        font-size: 9px !important;
    }


    .buttons_next_back button {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: none;
        background-color: #fff;
        border-radius: 5px;
        color: #2E2E2E !important;
        height: 40px;
        font-size: 8px;
        width: 95px;
        margin-top: 0px;
    }

}
.buttons_next_back p{
    margin-top: 4px;
}
@media (max-width:650px) {
    #themeswiper .swiper-button-prev:after{
        font-size: 15px !important;
    }
    #themeswiper .swiper-button-next:after{
        font-size: 15px !important;
    }
    #themeswiper .swiper-button-prev{
        top: 84% !important;
        padding: 20px !important;
        height: 30px !important;
    }
    #themeswiper .swiper-button-next{
        top: 84% !important;
        height: 30px !important;
        padding: 20px !important;
    }
    .theme_content{
        font-size: 13px;
    }
    .buttons_next_back button {
            display: flex;
            align-items: center;
            justify-content: space-around;
            border: none;
            background-color: #fff;
            border-radius: 50%;
            color: #2E2E2E !important;
            width: 40px;
            height: 40px;
            font-size: 15px;
            
            margin-top: -30px;
        }
        .post_ava button{
                    text-align: center;
                    background-color: #536DFD;
                    color: white;
                    width: 100px;
                    height: 20px;
                    border-radius: 2px;
                    border: none;
                    font-size: 11px;
                    margin: auto;
                    margin-right: 0;
        }
                .buttons_next_back p{
                    display: none;
                }



            .raspberry_pi {
                display: none;
            }

            .odtel_media_uchun {
                display: block;
            }

            .flex_star {
                display: none;
            }

            .flex_star1 {
                display: none;
            }
            .p_4_1_524 {
                display: none;
            }

            .flex_star2 {
                display: flex;
                align-items: center;
                font-size: 13px;
            }

            .flex_star12 {
                display: flex;
                align-items: center;
                font-size: 13px;
            }

            .flex_star2 p {
                color: #FFD401;
            }

            .flex_star12 p {
                margin-left: 5px;
                color: #9DA7BB;
            }


            .odtel_media_uchun h1 {
                font-size: 15px;
                color: #2E2E2E;
            }

            .flex_star_p {
                display: flex;
                margin-top: -10px;
            }

            .p_4_1_5245 {
                gap: 5px;
                font-size: 12px;
                margin-left: 5px;
                margin-top: 3px;
            }



            .accordion_text h6 {
                font-size: 14px;
                line-height: 20px;
                font-weight: 650 !important;
            }

            .accordion_text p {
                margin-top: 10px;
                font-size: 13px;
            }

            .accordion_img img {
                width: 100%;
            }

            .raspberry_pid h1 {
                font-size: 17px;
                line-height: 23px;
                margin: auto;
                margin-left: 0;
            }

            .line_height {
                width: 1px;
                height: 45px;
                border: none;
                background-color: #9DA7BB;
                margin-right: 40px;
            }

            .raspberry_pid p {
                font-size: 13px;
                line-height: 20px;

            }




}

@media (max-width:500px) {
    #themeswiper .swiper-button-prev:after{
        font-size: 12px !important;
    }
    #themeswiper .swiper-button-next:after{
        font-size: 12px !important;
    }
    #themeswiper .swiper-button-prev{
        top: 80% !important;
        padding: 17px !important;
        left: 72% !important;
    }
    #themeswiper .swiper-button-next{
        left:85% !important;
        top: 80% !important;
        padding: 17px !important;
    }
    .raspberry_pid h1 {
            font-size: 14px;
            line-height: 23px;
            margin: auto;
            margin-left: 0;
        }
    
        .line_height {
            width: 1px;
            height: 45px;
            border: none;
            background-color: #9DA7BB;
            margin-right: 30px;
        }
    
        .raspberry_pid p {
            font-size: 12px;
            line-height: 20px;
    
        }

                .accordion_text h6 {
                    font-size: 12px;
                    line-height: 16px;
                }
        
                .accordion_text p {
                    margin-top: 9px;
                    font-size: 11px !important;
    }
        .accordion_img img {
            width: 100%;
        }
        .accordion_text {
            margin-left: 5px;
        }
}

@media (max-width:430px) {
    .accordion_text h6 {
            font-size: 10px;
            line-height: 13px;
        }


        .accordion_img img {
            width: 100%;
            border-radius: 10px;
        }
        .accordion-button{
            font-size: 13px !important;
        }
         .raspberry_pid h1 {
            font-size: 12px;
            line-height: 23px;
            margin: auto;
            margin-left: 0;
        }
    
        .line_height {
            width: 1px;
            height: 45px;
            border: none;
            background-color: #9DA7BB;
            margin-right: 20px;
        }
    
        .raspberry_pid p {
            font-size: 10px;
            line-height: 20px;
    
        }

         .buttons_next_back button {
            display: flex;
            align-items: center;
            justify-content: space-around;
            border: none;
            background-color: #fff;
            border-radius: 50%;
            color: #2E2E2E !important;
            width: 30px;
            height: 30px;
            font-size: 12px;
            
            margin-top: -30px;
        }
        .post_ava button{
                    text-align: center;
                    background-color: #536DFD;
                    color: white;
                    width: 100px;
                    height: 20px;
                    border-radius: 2px;
                    border: none;
                    font-size: 11px;
                    margin: auto;
                    margin-right: 0;
        }






         .flex_star2 {
                display: flex;
                align-items: center;
                font-size: 11px;
            }

            .flex_star12 {
                display: flex;
                align-items: center;
                font-size: 11px;
            }

            .flex_star2 p {
                color: #FFD401;
            }

            .flex_star12 p {
                margin-left: 5px;
                color: #9DA7BB;
            }


            .odtel_media_uchun h1 {
                font-size: 13px;
                color: #2E2E2E;
            }

            .flex_star_p {
                display: flex;
                margin-top: -10px;
            }

            .p_4_1_5245 {
                gap: 5px;
                font-size: 10px;
                margin-left: 5px;
                margin-top: 3px;
            }

}

@media (max-width:390px) {
    .accordion_text h6 {
            font-size: 8px !important;
            line-height: 11px;
            font-weight: 700 !important;
        }

        .accordion_text p {
            margin-top: 7px;
            font-size: 9px !important;
        }

        .accordion_img img {
            width: 100%;
        }
}
@media (max-width:330px) {
   .accordion_text h6 {
            font-size: 8px !important;
            line-height: 11px;
            font-weight: 550 !important;
        }

        .accordion_text p {
            margin-top: 7px;
            font-size: 9px !important;
        }

        .accordion_img img {
            width: 100%;
        }
}

.navbar_video{
    display: flex;align-items: center;justify-content: space-between;
    width: 600px ;
    padding: 10px;
    height: 0;
    margin-top: 0%;
}

.navbar_otish{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #9DA7BB;
    font-size: 18px;
    cursor: pointer;
}
.navbar_rule{
    color: #FFD401;
    display: flex;align-items: center;
}
.zadaniya, .zadaniya5{
    border-bottom: 1px solid #536DFD;
    color: #2E2E2E;
}

@media (max-width:1200px) {
    .navbar_otish{
        font-size: 15px;
    }
}
@media (max-width:1000px) {
    .navbar_video{
        width: 100%;
    }
}
@media (max-width:630px) {
    .navbar_otish{
        width: 530px;
    }
}
@media (max-width:550px) {

.navbar_block{
    display: block !important;
width: 100%;
}

.menu_navbar{
    margin-left: auto;
    margin-right: 5px;
}

.navbar_yon{
    background-color: #fff;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    position: absolute;
    box-shadow: 0px 1px 1px 0px grey;
    height: 40vh;
}
    .navbar_otish1{
        width: 50%;
        display: block;
        font-size: 15px;
        cursor: pointer;
        color: #9DA7BB;
    } 
    .navbar_otish{
        display: none;
    }
}
.navbar_yon{
    display: none;
}
.navbar_yon1{
    display: block !important;
}
.na{
    display: block;
}
.menu_navbar{
    color: #536DFD;
    width: 40px;
    height: 40px;
    border-radius: 50%;
        background-color: #fff;
        display: flex;align-items: center;justify-content: center;
    font-size: 18px;
    box-shadow: 0px 0px 5px #2E2E2E;
}

.navbar_block{
    display: none;
}

#themeswiper {
  width: 60%;
  height: 100%;
  margin-left: 0px !important;
  margin-right: 0px !important;
}


#themeswiper .swiper-slide img {
  display: block !important;
  width: 100% !important;
  height: 100%;
  object-fit: cover;
}
.themeswiper{
    position: relative;
    top: 0px !important;
    right: 0px !important;
}
.accordion_flex:active{
    opacity: 0.7;
    scale: 1.03;
}
/* .swiper {
  margin-left: auto;
  margin-right: auto;
} */
.theme_content{
    text-align: start !important;
}
#themeswiper .swiper-pagination-bullet{
    display: none !important;
}
.mySwiper{
    top: 0px !important;
}
.theme_video{
    width: 60%;
    height: 500px;
}
.theme_df{
display: flex;
justify-content: space-between;
align-items: center;
}
.theme_button button{
padding: 10px;

}
.theme_button{
    gap: 10px;
}


.m_else_bosa_div{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 100 !important;
    background-color: #fff;
    color: #2E2E2E;
}