.yozishma_small_text_div_chat {
    width: 100%;
    display: blok;
    gap: 10px;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    position: relative;
}

.javob_berish_img img {
    width: 50px;
    height: 50px;
    padding-top: -10px;
    border-radius: 50%;

}

.javob_chat_div_beruvchi h1 {
    font-size: 16px;
    margin-bottom: 0;
}

.javob_chat_div_beruvchi {
    display: block;
    border-left: 3px solid #44bef1;
    padding-left: 10px;
}

.javob_chat_div_beruvchi p {
    font-size: 13px;
    margin-bottom: 0;
}

.javob_chat_ikki_beruvchi h1 {
    font-size: 16px;
    margin-bottom: 0;
}

.javob_berish_ikki {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #e2e2e2;
    width: 100%;
    transition: 4s;
    padding-left: 10px;
    display: none;
}

.javob_chat_ikki_beruvchi {
    display: block;
    padding-left: 10px;
    border-left: 3px solid #44bef1;
    margin-top: 10px;
}

.javob_chat_ikki_beruvchi p {
    font-size: 13px;
    margin-bottom: 0;
}

.yozishma_small_text_div {
    padding: 20px;
    padding-left: 40px;
    width: 100%;
    height: 545px;
    overflow-y: scroll;
}

.yozishma_small_text_div::-webkit-scrollbar {
    width: 10px;
}

.yozishma_bolim_text_nik::-webkit-scrollbar {
    width: 10px;
}

.yozishma_small_text_div_text h1 {
    font-size: 20px;
}

.yozishma_small_text_div_text p {
    width: 100%;
}

.yozishma_small_text_div_text_javob_sozi {
    margin-top: 10px;
    font-size: 15px;
    display: flex;
    height: 15px;
    justify-content: space-between;
    align-items: stretch;
    gap: 10px;
    cursor: pointer;
    color: #44bef1;
}

.yozishma_small_text_div_text_javob_sozi .javob_sozi {
    font-size: 13px;
    margin-top: 4px;
}

.javob_sozi_big {
    display: flex;
    gap: 5px;
}

.yozishma_vaqt_soat_kun span {
    color: rgba(157, 167, 187, 1);
}

.yozishma_small_xabar_div input {
    width: 100%;
    height: 40px;
    padding-left: 37px;
    outline: none;
    padding-right: 37px;
    border-bottom-right-radius: 10px;
    border: 0;
    border-top: 1px solid #e2e2e2;
}

.chat_file_smile_link_file {
    position: absolute;
    top: 5px;
    width: 0px !important;
    left: -70px;
    opacity: 0;
    z-index: 1;
    cursor: pointer !important;
}

.yozishma_small_xabar_div {
    position: relative;
}

.yozishma_small_div {
    display: block;
    border: 1px solid #e2e2e2;
    border-top-right-radius: 10px;
    background-color: #fff;
    border-bottom-right-radius: 10px;
}

.yozishma_big_div_size {
    width: 1400px;
    display: flex;
}

.yozishma_bolim_text_nik_text {
    width: 100%;
    display: flex;
    gap: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
    margin-top: 5%;
    cursor: pointer;
}

.yozishma_bolim_text_nik_text_ism_p h1 {
    margin-top: 20px;
    margin-left: 8px;
    font-size: 15px;
}

.yozishma_bolim_text_nik_text img {
    height: 100%;
}
.tg_img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;justify-content: center;
    align-items: center;
    overflow: hidden;
}

.yozishma_bolim_text_nik {
    padding: 10px;
    width: 60%;
    height: 650px;
    overflow-y: scroll;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.yozishma_bolim_text_nik_text_ism_p {
    width: 100%;
    display: flex;
}

.yozishma_big_div {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 5%;
    padding: 20px;

}

.Chat_background {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f6f6f6;
}

.chat_file_smile_link {
    position: absolute;
    top: 10px;
    font-size: 20px;
    left: 20px;
    cursor: pointer;
}

.chat_file_smile_smile {
    position: absolute;
    top: 10px;
    font-size: 20px;
    left: 10px;
    cursor: pointer;
}

@media (max-width:1400px) {
    .yozishma_small_div {
        width: 99%;
        /* display: none; */
    }

    .yozishma_bolim_text_nik {
        width: 100%;
        display: block;
    }

    .yozishma_bolim_text_nik_text {
        margin-top: 0px !important;
        margin-bottom: 3%;
    }

    .yozishma_bolim_text_nik_text_ism_p h1 {
        font-size: 20px;
    }
}

@media (max-width:1000px) {
    .yozishma_bolim_text_nik_text img {
        width: 40px;
        height: 40px;
    }

    .yozishma_bolim_text_nik_text_ism_p h1 {
        font-size: 1.7vw;
        margin-bottom: 0;
    }

    .yozishma_bolim_text_nik_text_ism_p p {
        font-size: 1.5vw;
        margin-bottom: 0;
    }

    .yozishma_bolim_text_nik_text_ism_p {
        padding-bottom: -5px;
    }

    .yozishma_bolim_text_nik_text_qongiroq_bildir {
        border-radius: 50%;
        width: 15px !important;
        font-size: 10px;
    }

    .yozishma_bolim_text_nik_text_qongiroq {
        padding-top: 3px;
    }

    .yozishma_bolim_text_nik_text_qongiroq_vaqti {
        font-size: 10px !important;

    }

    .yozishma_small_text_div_text p {
        font-size: 1.5vw;
    }

    .javob_chat_div_beruvchi h1 {
        font-size: 1.7vw;
    }

    .javob_chat_div_beruvchi p {
        font-size: 1.5vw;
    }

    .javob_chat_div_beruvchi {
        border-left: 1px solid #44bef1;
    }

    .javob_sozi {
        font-size: 1.5vw !important;
        margin-top: 3% !important;
    }

    .yozishma_vaqt_soat_kun span {
        font-size: 1.5vw !important;
        margin-top: -2px !important;
    }

    .yozishma_small_text_div_text_javob_sozi {
        align-items: baseline;
        height: 15px;
    }

    .javob_berish_blok_text h1 {
        font-size: 1.7vw !important;
    }

    .javob_berish_blok_text p {
        font-size: 1.5vw !important;
    }
}

@media (max-width:700px) {
    .yozishma_bolim_text_nik_text_ism_p h1 {
        font-size: 17px;
    }

    .yozishma_bolim_text_nik_text_ism_p p {
        font-size: 15px;
    }

    .yozishma_bolim_text_nik_text img {
        width: 50px;
        height: 50px;
    }

    .yozishma_small_text_div_text p {
        font-size: 15px;
    }

    .javob_sozi {
        font-size: 15px !important;
    }

    .yozishma_vaqt_soat_kun span {
        font-size: 15px !important;
    }

    .yozishma_small_text_div_text_javob_sozi {
        align-items: stretch;
        height: 20px;
    }

    .javob_chat_div_beruvchi h1 {
        font-size: 15px;
    }

    .javob_chat_div_beruvchi p {
        font-size: 15px;
    }

    .yozishma_telegram_profil {
        padding-left: 10px !important;
        gap: 10px !important;
    }

    .javob_berish_blok_text h1 {
        font-size: 15px !important;
    }

    .javob_berish_blok_text p {
        font-size: 13px !important;
    }

    .chat_yoq_payt {
        display: none !important;
    }

    .chat_gap_text_div {
        display: block !important;
    }
}

.smile_blok {
    position: absolute;
    top: -450px;
    left: 0px;
    display: block;
}

.smile_none {
    display: none;
}

@media(min-width:1400px) {
    .yozishma_small_div {
        display: block !important;
    }

    .yozishma_bolim_text_nik {
        display: block !important;
    }

    .yoq {
        display: none !important;

    }
}

@media(min-width:700px) {
    .yoq1 {
        display: none !important;
    }

    .yozishma_bolim_text_nik {
        width: 400px;
    }

    .yozishma_small_div {
        width: 100%;
    }

    .yoq {
        display: none;
    }

    /* .yozishma_small_div{
        display: block !important;
    } */


}

@media(max-width:700px) {
    .yozishma_bolim_text_nik {
        display: none;
    }

    /* .yozishma_small_div{
        display: block !important;
    } */
    .yoq {
        display: none !important;
    }

    .yozishma_small_text_div {
        padding: 5px;
        padding-left: 15px;
    }

}

.yozishma_telegram_profil {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #e2e2e2;
}

.telegram_pro_img_text img {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
}

.telegram_pro_img_text {
    width: 100%;
    display: flex !important;
    align-items: center !important;
    gap: 5px;
}

.telegram_pro_text {
    margin-top: 10px !important;
    display: block !important;
}

.telegram_pro_text h1 {
    font-size: 15px !important;
    margin-bottom: 0 !important;
}

.telegram_pro_text p {
    font-size: 12px !important;
    margin-top: 0 !important;
}

.telegram_plane {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}

.javob_berish {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #e2e2e2;
    width: 100%;
    padding-left: 10px;
    display: none;
    transition: 4s;
}

.javob_berish_img {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    background-color: rgba(213 220 233);
    box-shadow: 1px 0px 0px 1px #44bef1;
    width: 100%;
    display: none;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 4s;

}

.javob_berish_img_div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1%;
}

.javob_berish_blok_text h1 {
    font-size: 18px;
    margin-bottom: 0;
}

.javob_berish_div_fill {
    color: #44bef1;
    font-size: 20px;
}

.javob_berish_blok_text p {
    font-size: 15px;
    margin-bottom: 0;
}

.javob_berish_div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-top: 5px;
}

/* @media (max-width:400px) {
    .smile_blok{
        position: absolute;
        top: -450px;
        right: -45px;
        display: block;
    }
} */
.Javob {
    text-decoration: none;
    color: #44bef1;
}

.yozishma_bolim_text_nik_text_qongiroq {
    display: block;
}

.yozishma_bolim_text_nik_text_qongiroq_bildir {
    background-color: #44bef1;
    border-radius: 50%;
    width: 25px;
    color: white;
    text-align: center;
    margin-left: auto;
}

.yozishma_bolim_text_nik_text_qongiroq_vaqti {
    font-size: 15px;
    padding-bottom: 5px;
}

.yozishma_small_text_div_ptichka {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;

}

.yozishma_small_text_div_ptichka .ptichka_chat {
    color: green;
    font-size: 15px;
}

.yozishma_small_text_div_ptichka .edit_chat {
    color: grey;
    font-size: 15px;
    cursor: pointer;
}

.edit_chat_hover_relative {
    position: relative;
    display: flex;
    align-items: center;
}

.edit_chat_hover_ikki_relative {
    position: relative;
    display: flex;
    align-items: center;
}

.edit_chat_hover_ikki {
    position: absolute;
    right: -12px;
    top: -20px;
    padding: 5px;
    font-size: 8px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 10px 2px rgb(218, 218, 218);
    display: none;
}

.edit_chat_hover {
    position: absolute;
    right: -12px;
    top: -20px;
    padding: 5px;
    font-size: 8px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 10px 2px rgb(218, 218, 218);
    display: none;
}

.edit_chat_hover_ikki {
    position: absolute;
    padding: 5px;
    font-size: 8px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 10px 5px rgb(218, 218, 218);
    display: none;


}

.chat_yoq_payt {
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.chat_gap_text_div {
    display: none;
}

.chat_yoq_payt p {
    border: 1px solid #e2e2e2;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    font-size: 1.2vw;
}

.javob_berish_ikki_db {
    display: block;
}

.yozishma_bolim_text_nik {
    position: relative !important;
}

.yozishma_bolim_text_nik_search {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e2e2e2;
}

.yozishma_bolim_text_nik_search input {
    outline-color: #44bef1;
    width: 100%;
    height: 35px;
    padding-left: 10px;
    border: 1px solid #e2e2e2;
}