/* *{
    font-family: 'Montserrat', sans-serif !important;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); */
#checkbox{
    cursor: pointer;
}
body{
    margin-top: 70px;
}
@media(max-width:1034px){
    body{
        margin-top: 50px;
    }
}